nodered/flows.json
[
    {
        "id": "217d4457bda21c0d",
        "type": "tab",
        "label": "Operations",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c20aa2ac87fc1e6",
        "type": "tab",
        "label": "JugClients",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd62ac133fb1360c",
        "type": "tab",
        "label": "JugEnterprise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ae59feea1fac0e6",
        "type": "subflow",
        "name": "Handle existance of email and pw",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "8e7d846effd9e3d7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 180,
                "wires": [
                    {
                        "id": "c2adafc6141062ba",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1080,
                "y": 120,
                "wires": [
                    {
                        "id": "68a2107c3e0d91ed",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3a056c2d95c24d79",
        "type": "subflow",
        "name": "Verify email and pw",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "68fcddddc6fb266a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1160,
                "y": 100,
                "wires": [
                    {
                        "id": "1130f17012c07889",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 160,
                "wires": [
                    {
                        "id": "c9342c2ae65773a2",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b6b33a23690f53f3",
        "type": "subflow",
        "name": "Create Thing (Thingworx)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 180,
                "wires": [
                    {
                        "id": "4ef11d4b115a505d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "98b9aea3ec541c1d",
        "type": "subflow",
        "name": "Create Thing (DB)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "4401d53accce85c2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 80,
                "wires": [
                    {
                        "id": "7337b18b2043a237",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3642f44d746371ee",
        "type": "subflow",
        "name": "Update filter (DB & Thingworx)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 160,
                "wires": [
                    {
                        "id": "f946c919ead8f326"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1360,
                "y": 240,
                "wires": [
                    {
                        "id": "d6319534d951e563",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "fa232f5df39eb96b",
        "type": "subflow",
        "name": "Clean Things (Thingworx)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "325c4faa337cc671"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 120,
                "wires": [
                    {
                        "id": "d824589b06d07a80",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7f812365318f4aea",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Client Application",
        "style": {
            "label": true
        },
        "nodes": [
            "f26cc9e6ff46d635",
            "b6601b20bee7cc98",
            "f8c1aade031fe803",
            "16a011c4b7e2fc9f",
            "06d3ba75d9facdef",
            "76ef18b8c3aade51"
        ],
        "x": 154,
        "y": 399,
        "w": 632,
        "h": 262
    },
    {
        "id": "323958da1d4e2b7b",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Client Jugs",
        "style": {
            "label": true
        },
        "nodes": [
            "14a3846a85810dfa",
            "27e373792b79bb87",
            "8a150a90525f1e19",
            "b599ee280cb26889",
            "761f1c76987d467d",
            "1a3567de62c2120d",
            "a385fed9aa8a7fe3",
            "e3923ac5b4ee2839",
            "4708d0a4450dd8e9",
            "3472f2444d2a7046",
            "552a23f5ed7b1610",
            "669db4e658511a7f",
            "4734de29655a0c1a"
        ],
        "x": 154,
        "y": 99,
        "w": 1152,
        "h": 242
    },
    {
        "id": "a70a5b1a39c32320",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Create/Delete Thing Thingworx",
        "style": {
            "label": true
        },
        "nodes": [
            "df69d4b1370ec407",
            "b9b2e90c86433bf3",
            "8745783c2d4b7dfb",
            "abf1b4b172e6ae86",
            "120dae098c73873b",
            "6bf593c124f692f4",
            "1e33342913f1a641",
            "e007aae71a2fd34c",
            "12e14872e9e1debc",
            "fa3fe7db1655837d",
            "5a63caf10b3b9a0e",
            "983a4efb652711eb",
            "acb3b289268ebf17",
            "289d5d7502ba340b"
        ],
        "x": 154,
        "y": 719,
        "w": 1172,
        "h": 242
    },
    {
        "id": "1589093497ae43e3",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Pair Request to add jug",
        "style": {
            "label": true
        },
        "nodes": [
            "f5c3aee0864a46be",
            "e57bdf0359866749",
            "61ff41d6f79027dd",
            "378b9baed000b7e6",
            "99c1e01bcdde1e9a",
            "a55abe65144b7b0c",
            "dcd2b471dd5d1d54"
        ],
        "x": 34,
        "y": 659,
        "w": 1292,
        "h": 142
    },
    {
        "id": "bdbaa79edcd82992",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "User registration",
        "style": {
            "label": true
        },
        "nodes": [
            "e617a36252101d98",
            "9f2b775c5e24acb8",
            "10b809801dba4bcb",
            "ce4aa892ac61f3a4",
            "a492c59417e3526d",
            "82cd4ba7de232cdf",
            "c80edb6648fb5c23",
            "dd1013cf1ed907ad"
        ],
        "x": 34,
        "y": 39,
        "w": 1292,
        "h": 182
    },
    {
        "id": "cb681741da812fc7",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "User login",
        "style": {
            "label": true
        },
        "nodes": [
            "4f6f6fac724a496a",
            "5c3d7fd931d482a9",
            "02a9ea9e41023edc",
            "7b80c134f08a63b6",
            "74a2182d6cf3432b",
            "6737c839da4aeeab",
            "594f99b964435f02",
            "b3a6633e59d62793"
        ],
        "x": 34,
        "y": 259,
        "w": 1292,
        "h": 182
    },
    {
        "id": "dd69043d1cb5236a",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Show / Clean UserTable",
        "style": {
            "label": true
        },
        "nodes": [
            "3c434ec046f71a23",
            "83c99c7142a96e7f",
            "e8bc2dd148bbffb3",
            "5898347def636b4d",
            "d0c5bf7405388a7c",
            "c98c52a08de3b558"
        ],
        "x": 34,
        "y": 479,
        "w": 632,
        "h": 142
    },
    {
        "id": "2014e345587e4007",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Show / Clean JugTable",
        "style": {
            "label": true
        },
        "nodes": [
            "801868f4cc631259",
            "28705e872a39bf64",
            "1cd3cb4c7a6a6292",
            "f8e038c0ae26a12a",
            "4810de2e5fcc3538",
            "bad79e1fd1d22d16"
        ],
        "x": 694,
        "y": 479,
        "w": 632,
        "h": 142
    },
    {
        "id": "20496de9b60de6a8",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Update filter information",
        "style": {
            "label": true
        },
        "nodes": [
            "a22ecd30043c6866",
            "3045dac9484f5175",
            "72f4e358b9e1da34",
            "20db2b73e97c7a37",
            "0488de0f08689001",
            "86072dca8a4675b9",
            "7fe99103bea3c313",
            "15a4b9f0df755521"
        ],
        "x": 34,
        "y": 839,
        "w": 1292,
        "h": 142
    },
    {
        "id": "f0c008adf5daaa20",
        "type": "group",
        "z": "dd62ac133fb1360c",
        "name": "Litres information",
        "style": {
            "label": true
        },
        "nodes": [
            "12d815057cd57334",
            "686e392549632634",
            "0f36aa3917d94588",
            "43eb9f6208742902",
            "cdb712ef947b9f93",
            "56a581e5680ad6e3",
            "e2b41d91cb228409",
            "cd95edaaaf747c92",
            "13259f49b6750854",
            "a3cf40fceacb65df",
            "4eb1c96a4b440d38",
            "72d7683f247d4f7a",
            "9e5f8bb47ea0c6cd"
        ],
        "x": 314,
        "y": 79,
        "w": 1058,
        "h": 568
    },
    {
        "id": "ef04f78fe84031f4",
        "type": "group",
        "z": "3642f44d746371ee",
        "name": "Ensure user own jug",
        "style": {
            "label": true
        },
        "nodes": [
            "a28cd932aa8b670a",
            "c04b38ae73eb9b2d",
            "73644bc60c823058"
        ],
        "x": 314,
        "y": 279,
        "w": 392,
        "h": 182
    },
    {
        "id": "9e5f8bb47ea0c6cd",
        "type": "group",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "Plastic information",
        "style": {
            "label": true
        },
        "nodes": [
            "6cc1040bfd802f1e",
            "bf3e55578af7a2e4",
            "3ef85ed4716564ae",
            "fa768fe8dd244a44"
        ],
        "x": 614,
        "y": 479,
        "w": 732,
        "h": 142
    },
    {
        "id": "261acb4b06f35df7",
        "type": "group",
        "z": "dd62ac133fb1360c",
        "name": "Statistical information",
        "style": {
            "label": true
        },
        "nodes": [
            "fffcf2415ff35daf",
            "e12e139248b70364",
            "6426c3f9917d2081",
            "96122b6e803914d0",
            "c38392d9d315dc5d",
            "5415beb9fff2b624"
        ],
        "x": 314,
        "y": 679,
        "w": 812,
        "h": 142
    },
    {
        "id": "dd1013cf1ed907ad",
        "type": "junction",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "x": 720,
        "y": 180,
        "wires": [
            [
                "10b809801dba4bcb"
            ]
        ]
    },
    {
        "id": "b3a6633e59d62793",
        "type": "junction",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "x": 700,
        "y": 400,
        "wires": [
            [
                "4f6f6fac724a496a"
            ]
        ]
    },
    {
        "id": "c77abff0c3609a0d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://212.78.1.205",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c1ceec1569757720",
        "type": "ui_tab",
        "name": "Jugs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fcdb4c412482dcd0",
        "type": "ui_group",
        "name": "Total Litres (App)",
        "tab": "c1ceec1569757720",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc5f98c0f184bc2e",
        "type": "ui_group",
        "name": "Litres per second (App)",
        "tab": "c1ceec1569757720",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c527304ede8acd9c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a6a64a541ae8c000",
        "type": "ui_group",
        "name": "Plastic saved",
        "tab": "ff083ec2093f4a2e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "647f7f903ce97865",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "jugdb",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "nodered",
        "userFieldType": "str",
        "password": "passwordsegreta",
        "passwordFieldType": "str"
    },
    {
        "id": "ff083ec2093f4a2e",
        "type": "ui_tab",
        "name": "Jugs Enterprise",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1a0b3959db61542",
        "type": "ui_group",
        "name": "Litres informations",
        "tab": "ff083ec2093f4a2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2dab9229986fd1ba",
        "type": "ui_group",
        "name": "Textual informations",
        "tab": "ff083ec2093f4a2e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "587d719d685f7298",
        "type": "function",
        "z": "8ae59feea1fac0e6",
        "name": "Extract email",
        "func": "msg.params = [msg.payload.username];\nmsg.old = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "43ca287d27944fbd"
            ]
        ]
    },
    {
        "id": "8e7d846effd9e3d7",
        "type": "json",
        "z": "8ae59feea1fac0e6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "587d719d685f7298"
            ]
        ]
    },
    {
        "id": "68a2107c3e0d91ed",
        "type": "switch",
        "z": "8ae59feea1fac0e6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 140,
        "wires": [
            [],
            [
                "c2adafc6141062ba"
            ]
        ]
    },
    {
        "id": "43ca287d27944fbd",
        "type": "postgresql",
        "z": "8ae59feea1fac0e6",
        "name": "",
        "query": "SELECT * FROM UserTable WHERE email = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "fa53f57ac6c934fc",
                "68a2107c3e0d91ed"
            ]
        ]
    },
    {
        "id": "c2adafc6141062ba",
        "type": "function",
        "z": "8ae59feea1fac0e6",
        "name": "Extract email and pass",
        "func": "msg.params = [msg.old.username, msg.old.password];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fa53f57ac6c934fc",
        "type": "debug",
        "z": "8ae59feea1fac0e6",
        "name": "Print Postgres Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb7f4297b358477b",
        "type": "function",
        "z": "3a056c2d95c24d79",
        "name": "Extract email and password",
        "func": "msg.params = [msg.payload.username, msg.payload.password];\nmsg.old = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "344ec21cbcc27646"
            ]
        ]
    },
    {
        "id": "344ec21cbcc27646",
        "type": "postgresql",
        "z": "3a056c2d95c24d79",
        "name": "Verify email and password",
        "query": "SELECT userId FROM UserTable WHERE email = $1 AND password = $2;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "c9342c2ae65773a2"
            ]
        ]
    },
    {
        "id": "1130f17012c07889",
        "type": "function",
        "z": "3a056c2d95c24d79",
        "name": "Extract userId",
        "func": "msg.payload = msg.payload[0];\nmsg.userId=msg.payload.userid;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c9342c2ae65773a2",
        "type": "switch",
        "z": "3a056c2d95c24d79",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "1130f17012c07889"
            ],
            []
        ]
    },
    {
        "id": "68fcddddc6fb266a",
        "type": "json",
        "z": "3a056c2d95c24d79",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "fb7f4297b358477b"
            ]
        ]
    },
    {
        "id": "ce16f9573b804d91",
        "type": "http request",
        "z": "b6b33a23690f53f3",
        "name": "Create Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Resources/EntityServices/Services/CreateThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 80,
        "wires": [
            [
                "5abf18101812be96",
                "6f1e5e7364d80697"
            ]
        ]
    },
    {
        "id": "90af0b5592d2b50b",
        "type": "function",
        "z": "b6b33a23690f53f3",
        "name": "Transform output",
        "func": "if (msg.payload == \"\"){\n    msg.payload = \"Thing successfully added.\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 80,
        "wires": [
            [
                "4818a8ee8ce9699e"
            ]
        ]
    },
    {
        "id": "6f1e5e7364d80697",
        "type": "http request",
        "z": "b6b33a23690f53f3",
        "name": "Enable Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Services/EnableThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 750,
        "y": 120,
        "wires": [
            [
                "12d7faae89458ea7"
            ]
        ]
    },
    {
        "id": "12d7faae89458ea7",
        "type": "http request",
        "z": "b6b33a23690f53f3",
        "name": "Restart Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Services/RestartThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "90af0b5592d2b50b"
            ]
        ]
    },
    {
        "id": "5abf18101812be96",
        "type": "delay",
        "z": "b6b33a23690f53f3",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "6f1e5e7364d80697"
            ]
        ]
    },
    {
        "id": "c4bdcc33cbf74d3f",
        "type": "function",
        "z": "b6b33a23690f53f3",
        "name": "function 1",
        "func": "msg.payload = { \"name\": `Jug${msg.payload}`, \"projectName\": \"cattaneo-isola\", \"thingTemplateName\": \"JugTemplate\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "ce16f9573b804d91"
            ]
        ]
    },
    {
        "id": "4ef11d4b115a505d",
        "type": "change",
        "z": "b6b33a23690f53f3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "c4bdcc33cbf74d3f"
            ]
        ]
    },
    {
        "id": "4818a8ee8ce9699e",
        "type": "debug",
        "z": "b6b33a23690f53f3",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 80,
        "wires": []
    },
    {
        "id": "4401d53accce85c2",
        "type": "function",
        "z": "98b9aea3ec541c1d",
        "name": "Prepare params",
        "func": "msg.params = [msg.payload, msg.token.userid]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "17a95012080ff363"
            ]
        ]
    },
    {
        "id": "17a95012080ff363",
        "type": "postgresql",
        "z": "98b9aea3ec541c1d",
        "name": "Insert or update jug",
        "query": "INSERT INTO JugTable VALUES ($1, $2)\nON CONFLICT (id) DO UPDATE\n    SET userId = $2;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "7337b18b2043a237"
            ]
        ]
    },
    {
        "id": "7337b18b2043a237",
        "type": "function",
        "z": "98b9aea3ec541c1d",
        "name": "Return Status",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "08d1b59a62811f23",
        "type": "http request",
        "z": "3642f44d746371ee",
        "name": "Update Filter Capacity",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{jug}}/Properties/filterCapacity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "d6319534d951e563"
            ]
        ]
    },
    {
        "id": "a28cd932aa8b670a",
        "type": "postgresql",
        "z": "3642f44d746371ee",
        "g": "ef04f78fe84031f4",
        "name": "Select from DB",
        "query": "SELECT userId FROM JugTable WHERE id = $1 AND userId = $2;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "c04b38ae73eb9b2d"
            ]
        ]
    },
    {
        "id": "f946c919ead8f326",
        "type": "function",
        "z": "3642f44d746371ee",
        "name": "Extract id, userId",
        "func": "msg.params = [msg.jug, msg.token.userid];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "a28cd932aa8b670a"
            ]
        ]
    },
    {
        "id": "c04b38ae73eb9b2d",
        "type": "switch",
        "z": "3642f44d746371ee",
        "g": "ef04f78fe84031f4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "73644bc60c823058"
            ],
            []
        ]
    },
    {
        "id": "73644bc60c823058",
        "type": "function",
        "z": "3642f44d746371ee",
        "g": "ef04f78fe84031f4",
        "name": "Extract id, userId",
        "func": "msg.params = [msg.jug, msg.filter];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "45d1266ff6761abe"
            ]
        ]
    },
    {
        "id": "d6035113f9e9c06c",
        "type": "function",
        "z": "3642f44d746371ee",
        "name": "filterCapacity JSON",
        "func": "msg.payload = { \"filterCapacity\": msg.filter}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 160,
        "wires": [
            [
                "08d1b59a62811f23"
            ]
        ]
    },
    {
        "id": "d6319534d951e563",
        "type": "function",
        "z": "3642f44d746371ee",
        "name": "Return Status",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "45d1266ff6761abe",
        "type": "postgresql",
        "z": "3642f44d746371ee",
        "name": "Update DB",
        "query": "UPDATE JugTable SET filterCapacity = $2 WHERE id = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "d6035113f9e9c06c"
            ]
        ]
    },
    {
        "id": "325c4faa337cc671",
        "type": "postgresql",
        "z": "fa232f5df39eb96b",
        "name": "Get Jug ids from DB",
        "query": "SELECT id FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "24edee6879b68938"
            ]
        ]
    },
    {
        "id": "24edee6879b68938",
        "type": "split",
        "z": "fa232f5df39eb96b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "d824589b06d07a80"
            ]
        ]
    },
    {
        "id": "d824589b06d07a80",
        "type": "function",
        "z": "fa232f5df39eb96b",
        "name": "function 2",
        "func": "msg.payload = {     \"name\": \"Jug\" + msg.payload.id,  \"projectName\":\"cattaneo-isola\",    \"thingTemplateName\": \"JugTemplate\" }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 80,
        "wires": [
            [
                "de0bdc66b84eb42b"
            ]
        ]
    },
    {
        "id": "de0bdc66b84eb42b",
        "type": "debug",
        "z": "fa232f5df39eb96b",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "e617a36252101d98",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Registration",
        "url": "/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c80edb6648fb5c23"
            ]
        ]
    },
    {
        "id": "9f2b775c5e24acb8",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Insert into DB",
        "query": "INSERT INTO UserTable(email, password) VALUES ($1, $2);",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 720,
        "y": 100,
        "wires": [
            [
                "82cd4ba7de232cdf"
            ]
        ]
    },
    {
        "id": "10b809801dba4bcb",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "ce4aa892ac61f3a4",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c434ec046f71a23",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "83c99c7142a96e7f"
            ]
        ]
    },
    {
        "id": "83c99c7142a96e7f",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "Show table",
        "query": "SELECT * FROM UserTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "e8bc2dd148bbffb3"
            ]
        ]
    },
    {
        "id": "e8bc2dd148bbffb3",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "a492c59417e3526d",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "10b809801dba4bcb"
            ]
        ]
    },
    {
        "id": "5898347def636b4d",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "d0c5bf7405388a7c"
            ]
        ]
    },
    {
        "id": "d0c5bf7405388a7c",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "Clean table",
        "query": "DELETE FROM UserTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "c98c52a08de3b558"
            ]
        ]
    },
    {
        "id": "c98c52a08de3b558",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "82cd4ba7de232cdf",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Return Status",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 100,
        "wires": [
            [
                "a492c59417e3526d",
                "ce4aa892ac61f3a4"
            ]
        ]
    },
    {
        "id": "5c3d7fd931d482a9",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "594f99b964435f02"
            ]
        ]
    },
    {
        "id": "4f6f6fac724a496a",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "02a9ea9e41023edc",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "7b80c134f08a63b6",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "4f6f6fac724a496a"
            ]
        ]
    },
    {
        "id": "74a2182d6cf3432b",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Return Status",
        "func": "msg.payload = {status:\"OK\", token:msg.payload,userId:msg.userId};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "7b80c134f08a63b6",
                "02a9ea9e41023edc"
            ]
        ]
    },
    {
        "id": "f5c3aee0864a46be",
        "type": "mqtt in",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "topic": "/jug/pair",
        "qos": "0",
        "datatype": "json",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 700,
        "wires": [
            [
                "61ff41d6f79027dd"
            ]
        ]
    },
    {
        "id": "e57bdf0359866749",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "Token",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 700,
        "wires": []
    },
    {
        "id": "61ff41d6f79027dd",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "Extract id and token",
        "func": "msg.token = msg.payload.token;\nmsg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 700,
        "wires": [
            [
                "378b9baed000b7e6"
            ]
        ]
    },
    {
        "id": "378b9baed000b7e6",
        "type": "jwt verify",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "alg": [
            "HS256"
        ],
        "jwkurl": "",
        "secret": "secret",
        "key": "",
        "signvar": "token",
        "storetoken": "token",
        "x": 470,
        "y": 700,
        "wires": [
            [
                "a55abe65144b7b0c",
                "dcd2b471dd5d1d54"
            ]
        ]
    },
    {
        "id": "6737c839da4aeeab",
        "type": "jwt sign",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "JWT Sign of userId",
        "alg": "HS256",
        "exp": "31536000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "secret",
        "key": "",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "74a2182d6cf3432b"
            ]
        ]
    },
    {
        "id": "c80edb6648fb5c23",
        "type": "subflow:8ae59feea1fac0e6",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "9f2b775c5e24acb8"
            ],
            [
                "dd1013cf1ed907ad"
            ]
        ]
    },
    {
        "id": "594f99b964435f02",
        "type": "subflow:3a056c2d95c24d79",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "6737c839da4aeeab"
            ],
            [
                "b3a6633e59d62793"
            ]
        ]
    },
    {
        "id": "99c1e01bcdde1e9a",
        "type": "mqtt out",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "topic": "/jug/pair/response",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1210,
        "y": 740,
        "wires": []
    },
    {
        "id": "801868f4cc631259",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 520,
        "wires": [
            [
                "28705e872a39bf64"
            ]
        ]
    },
    {
        "id": "28705e872a39bf64",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "Show table",
        "query": "SELECT * FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "1cd3cb4c7a6a6292"
            ]
        ]
    },
    {
        "id": "1cd3cb4c7a6a6292",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 520,
        "wires": []
    },
    {
        "id": "f8e038c0ae26a12a",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "4810de2e5fcc3538"
            ]
        ]
    },
    {
        "id": "4810de2e5fcc3538",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "Clean table",
        "query": "DELETE FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1010,
        "y": 580,
        "wires": [
            [
                "bad79e1fd1d22d16"
            ]
        ]
    },
    {
        "id": "bad79e1fd1d22d16",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 580,
        "wires": []
    },
    {
        "id": "a22ecd30043c6866",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "Get Filter",
        "url": "/filter",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "7fe99103bea3c313"
            ]
        ]
    },
    {
        "id": "3045dac9484f5175",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 940,
        "wires": []
    },
    {
        "id": "72f4e358b9e1da34",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 880,
        "wires": []
    },
    {
        "id": "20db2b73e97c7a37",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1130,
        "y": 940,
        "wires": [
            [
                "3045dac9484f5175"
            ]
        ]
    },
    {
        "id": "0488de0f08689001",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "Extract id, token, filterCapacity",
        "func": "msg.token = msg.payload.token;\nmsg.jug = msg.payload.id;\nmsg.filter = msg.payload.filterCapacity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 900,
        "wires": [
            [
                "86072dca8a4675b9"
            ]
        ]
    },
    {
        "id": "86072dca8a4675b9",
        "type": "jwt verify",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "",
        "alg": [
            "HS256"
        ],
        "jwkurl": "",
        "secret": "secret",
        "key": "",
        "signvar": "token",
        "storetoken": "token",
        "x": 690,
        "y": 900,
        "wires": [
            [
                "15a4b9f0df755521"
            ]
        ]
    },
    {
        "id": "7fe99103bea3c313",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 250,
        "y": 900,
        "wires": [
            [
                "0488de0f08689001"
            ]
        ]
    },
    {
        "id": "a55abe65144b7b0c",
        "type": "subflow:b6b33a23690f53f3",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "dcd2b471dd5d1d54",
        "type": "subflow:98b9aea3ec541c1d",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "x": 770,
        "y": 700,
        "wires": [
            [
                "e57bdf0359866749",
                "99c1e01bcdde1e9a"
            ]
        ]
    },
    {
        "id": "15a4b9f0df755521",
        "type": "subflow:3642f44d746371ee",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "",
        "x": 930,
        "y": 900,
        "wires": [
            [
                "20db2b73e97c7a37",
                "72f4e358b9e1da34"
            ]
        ]
    },
    {
        "id": "f26cc9e6ff46d635",
        "type": "mqtt in",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "",
        "topic": "/Thingworx/Jug1/litresPerSecond",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "b6601b20bee7cc98",
                "76ef18b8c3aade51"
            ]
        ]
    },
    {
        "id": "b6601b20bee7cc98",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "Litres per second",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "16a011c4b7e2fc9f",
        "type": "mqtt in",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "",
        "topic": "/Thingworx/Jug555/totalLitresFilter",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 580,
        "wires": [
            [
                "06d3ba75d9facdef",
                "f8c1aade031fe803"
            ]
        ]
    },
    {
        "id": "06d3ba75d9facdef",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "Litres in total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "27e373792b79bb87",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug0/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "8a150a90525f1e19",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "b599ee280cb26889"
            ]
        ]
    },
    {
        "id": "b599ee280cb26889",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "761f1c76987d467d",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "Clear values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "27e373792b79bb87",
                "1a3567de62c2120d",
                "4708d0a4450dd8e9",
                "669db4e658511a7f",
                "4734de29655a0c1a",
                "14a3846a85810dfa"
            ]
        ]
    },
    {
        "id": "1a3567de62c2120d",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug2/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "a385fed9aa8a7fe3",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "num",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "e3923ac5b4ee2839"
            ]
        ]
    },
    {
        "id": "e3923ac5b4ee2839",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4708d0a4450dd8e9",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug3/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "3472f2444d2a7046",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.3",
        "payloadType": "num",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "552a23f5ed7b1610"
            ]
        ]
    },
    {
        "id": "552a23f5ed7b1610",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "669db4e658511a7f",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug0/totalLitresJug",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "4734de29655a0c1a",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug2/totalLitresJug",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1150,
        "y": 260,
        "wires": []
    },
    {
        "id": "14a3846a85810dfa",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug3/totalLitresJug",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "df69d4b1370ec407",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Create Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Resources/EntityServices/Services/CreateThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "12e14872e9e1debc"
            ]
        ]
    },
    {
        "id": "b9b2e90c86433bf3",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 760,
        "wires": []
    },
    {
        "id": "8745783c2d4b7dfb",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Inject Jug",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"name\": \"Jug555\",  \"projectName\":\"cattaneo-isola\",    \"thingTemplateName\": \"JugTemplate\" }",
        "payloadType": "json",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "df69d4b1370ec407",
                "5a63caf10b3b9a0e"
            ]
        ]
    },
    {
        "id": "abf1b4b172e6ae86",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Delete Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Resources/EntityServices/Services/DeleteThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 860,
        "wires": [
            [
                "e007aae71a2fd34c"
            ]
        ]
    },
    {
        "id": "120dae098c73873b",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 860,
        "wires": []
    },
    {
        "id": "6bf593c124f692f4",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Inject Jug",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"name\": \"Jug1\",  \"projectName\":\"cattaneo-isola\",    \"thingTemplateName\": \"JugTemplate\" }",
        "payloadType": "json",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "abf1b4b172e6ae86"
            ]
        ]
    },
    {
        "id": "1e33342913f1a641",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Transform output",
        "func": "if (msg.payload == \"\"){\n    msg.payload = \"Thing successfully added.\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 760,
        "wires": [
            [
                "b9b2e90c86433bf3"
            ]
        ]
    },
    {
        "id": "e007aae71a2fd34c",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Transform output",
        "func": "if (msg.payload == \"\"){\n    msg.payload = \"Thing successfully deleted.\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 860,
        "wires": [
            [
                "120dae098c73873b",
                "289d5d7502ba340b"
            ]
        ]
    },
    {
        "id": "f8c1aade031fe803",
        "type": "ui_gauge",
        "z": "4c20aa2ac87fc1e6",
        "d": true,
        "g": "7f812365318f4aea",
        "name": "",
        "group": "fcdb4c412482dcd0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Total litres",
        "label": "units",
        "format": "{{msg.count}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "76ef18b8c3aade51",
        "type": "ui_gauge",
        "z": "4c20aa2ac87fc1e6",
        "d": true,
        "g": "7f812365318f4aea",
        "name": "",
        "group": "cc5f98c0f184bc2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Litres per second",
        "label": "units",
        "format": "{{msg.count}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "12e14872e9e1debc",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Enable Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug555/Services/EnableThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 650,
        "y": 800,
        "wires": [
            [
                "fa3fe7db1655837d"
            ]
        ]
    },
    {
        "id": "fa3fe7db1655837d",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Restart Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug555/Services/RestartThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 840,
        "y": 800,
        "wires": [
            [
                "1e33342913f1a641"
            ]
        ]
    },
    {
        "id": "5a63caf10b3b9a0e",
        "type": "delay",
        "z": "4c20aa2ac87fc1e6",
        "d": true,
        "g": "a70a5b1a39c32320",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 800,
        "wires": [
            [
                "12e14872e9e1debc"
            ]
        ]
    },
    {
        "id": "983a4efb652711eb",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Clean all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 920,
        "wires": [
            [
                "acb3b289268ebf17"
            ]
        ]
    },
    {
        "id": "289d5d7502ba340b",
        "type": "postgresql",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Clean table",
        "query": "DELETE FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "acb3b289268ebf17",
        "type": "subflow:fa232f5df39eb96b",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "x": 550,
        "y": 920,
        "wires": [
            [
                "abf1b4b172e6ae86"
            ]
        ]
    },
    {
        "id": "56a581e5680ad6e3",
        "type": "debug",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "Litres in total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "12d815057cd57334",
        "type": "http request",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "Get Total litres",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Properties/totalLitresJug",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "cdb712ef947b9f93"
            ]
        ]
    },
    {
        "id": "bca0d49876942d04",
        "type": "inject",
        "z": "dd62ac133fb1360c",
        "name": "Start dashboard",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "686e392549632634",
                "fffcf2415ff35daf",
                "96122b6e803914d0"
            ]
        ]
    },
    {
        "id": "686e392549632634",
        "type": "postgresql",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "Get Jug ids from DB",
        "query": "SELECT id FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "43eb9f6208742902"
            ]
        ]
    },
    {
        "id": "0f36aa3917d94588",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "12d815057cd57334"
            ]
        ]
    },
    {
        "id": "e2b41d91cb228409",
        "type": "join",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "thing_id",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": true,
        "reduceExp": "msg.payload\t",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "cd95edaaaf747c92",
                "4eb1c96a4b440d38"
            ]
        ]
    },
    {
        "id": "43eb9f6208742902",
        "type": "split",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "0f36aa3917d94588"
            ]
        ]
    },
    {
        "id": "cdb712ef947b9f93",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rows[0].totalLitresJug",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 200,
        "wires": [
            [
                "e2b41d91cb228409",
                "13259f49b6750854"
            ]
        ]
    },
    {
        "id": "13259f49b6750854",
        "type": "debug",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "cd95edaaaf747c92",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "$sum(payload)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sum(msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "56a581e5680ad6e3",
                "a3cf40fceacb65df",
                "3ef85ed4716564ae"
            ]
        ]
    },
    {
        "id": "a3cf40fceacb65df",
        "type": "ui_gauge",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "",
        "group": "d1a0b3959db61542",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Total litres of all jugs",
        "label": "liters",
        "format": "{{msg.payload  | number: 2}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "fffcf2415ff35daf",
        "type": "postgresql",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "name": "Get Jug ids from DB",
        "query": "SELECT COUNT(id) FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 440,
        "y": 720,
        "wires": [
            [
                "6426c3f9917d2081"
            ]
        ]
    },
    {
        "id": "e12e139248b70364",
        "type": "ui_text",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "group": "2dab9229986fd1ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Num of jugs registered",
        "label": "Number of jugs registered:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 980,
        "y": 720,
        "wires": []
    },
    {
        "id": "6426c3f9917d2081",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 720,
        "wires": [
            [
                "e12e139248b70364"
            ]
        ]
    },
    {
        "id": "6cc1040bfd802f1e",
        "type": "ui_text",
        "z": "dd62ac133fb1360c",
        "g": "9e5f8bb47ea0c6cd",
        "group": "a6a64a541ae8c000",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Kg of plastic saved",
        "label": "Kg of plastic saved",
        "format": "{{msg.payload | number: 4}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 1150,
        "y": 540,
        "wires": []
    },
    {
        "id": "bf3e55578af7a2e4",
        "type": "calculator",
        "z": "dd62ac133fb1360c",
        "g": "9e5f8bb47ea0c6cd",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "500000",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "6cc1040bfd802f1e",
                "fa768fe8dd244a44"
            ]
        ]
    },
    {
        "id": "3ef85ed4716564ae",
        "type": "calculator",
        "z": "dd62ac133fb1360c",
        "g": "9e5f8bb47ea0c6cd",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "32",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 700,
        "y": 520,
        "wires": [
            [
                "bf3e55578af7a2e4"
            ]
        ]
    },
    {
        "id": "fa768fe8dd244a44",
        "type": "ui_chart",
        "z": "dd62ac133fb1360c",
        "g": "9e5f8bb47ea0c6cd",
        "name": "",
        "group": "a6a64a541ae8c000",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Amount of plastic saved in one day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "96122b6e803914d0",
        "type": "postgresql",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "name": "Get User ids from DB",
        "query": "SELECT COUNT(userId) FROM UserTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 440,
        "y": 780,
        "wires": [
            [
                "c38392d9d315dc5d"
            ]
        ]
    },
    {
        "id": "c38392d9d315dc5d",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 780,
        "wires": [
            [
                "5415beb9fff2b624"
            ]
        ]
    },
    {
        "id": "5415beb9fff2b624",
        "type": "ui_text",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "group": "2dab9229986fd1ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Num of users registered",
        "label": "Number of users registered:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 990,
        "y": 780,
        "wires": []
    },
    {
        "id": "4eb1c96a4b440d38",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "$average(payload)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$average(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 300,
        "wires": [
            [
                "72d7683f247d4f7a"
            ]
        ]
    },
    {
        "id": "72d7683f247d4f7a",
        "type": "ui_gauge",
        "z": "dd62ac133fb1360c",
        "g": "f0c008adf5daaa20",
        "name": "",
        "group": "d1a0b3959db61542",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Avg litres of all jugs",
        "label": "liters",
        "format": "{{msg.payload  | number: 2}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 300,
        "wires": []
    }
]