nodered/flows.json
[
    {
        "id": "217d4457bda21c0d",
        "type": "tab",
        "label": "Operations",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c20aa2ac87fc1e6",
        "type": "tab",
        "label": "Playground",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd62ac133fb1360c",
        "type": "tab",
        "label": "JugEnterprise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ae59feea1fac0e6",
        "type": "subflow",
        "name": "Handle existance of email and pw",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "8e7d846effd9e3d7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 220,
                "wires": [
                    {
                        "id": "c2adafc6141062ba",
                        "port": 0
                    },
                    {
                        "id": "7837703e879a4a5c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1260,
                "y": 120,
                "wires": [
                    {
                        "id": "68a2107c3e0d91ed",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3a056c2d95c24d79",
        "type": "subflow",
        "name": "Verify email and pw",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "68fcddddc6fb266a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1360,
                "y": 80,
                "wires": [
                    {
                        "id": "1130f17012c07889",
                        "port": 0
                    },
                    {
                        "id": "eb01921b49e9b9ed",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 220,
                "wires": [
                    {
                        "id": "c9342c2ae65773a2",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b6b33a23690f53f3",
        "type": "subflow",
        "name": "Create Thing (Thingworx)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "4ef11d4b115a505d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "98b9aea3ec541c1d",
        "type": "subflow",
        "name": "Create Thing (DB)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "4401d53accce85c2"
                    },
                    {
                        "id": "111121c67e0c3d75"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 80,
                "wires": [
                    {
                        "id": "7337b18b2043a237",
                        "port": 0
                    },
                    {
                        "id": "f8faf80141350fb1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3642f44d746371ee",
        "type": "subflow",
        "name": "Update filter (DB & Thingworx)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 160,
                "wires": [
                    {
                        "id": "f946c919ead8f326"
                    },
                    {
                        "id": "b6b4dc96767b01fb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 220,
                "wires": [
                    {
                        "id": "d6319534d951e563",
                        "port": 0
                    },
                    {
                        "id": "050676abb0421d78",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "fa232f5df39eb96b",
        "type": "subflow",
        "name": "Clean Things (Thingworx)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "325c4faa337cc671"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 120,
                "wires": [
                    {
                        "id": "d824589b06d07a80",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f05d8c8cfc406587",
        "type": "subflow",
        "name": "Verify email for newEmail",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "a9ec44fac6c9a09e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1360,
                "y": 80,
                "wires": [
                    {
                        "id": "dd3c6b3d71b6914d",
                        "port": 0
                    },
                    {
                        "id": "37df3d6986dbea88",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1360,
                "y": 160,
                "wires": [
                    {
                        "id": "b85105acce2536a8",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "068fb15905289024",
        "type": "subflow",
        "name": "Verify email for new pw",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "77b06aea27b6120d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1340,
                "y": 80,
                "wires": [
                    {
                        "id": "997c28ceb500a478",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 180,
                "wires": [
                    {
                        "id": "62d9f94796a79510",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7f812365318f4aea",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Client Application",
        "style": {
            "label": true
        },
        "nodes": [
            "f26cc9e6ff46d635",
            "b6601b20bee7cc98",
            "f8c1aade031fe803",
            "16a011c4b7e2fc9f",
            "06d3ba75d9facdef",
            "76ef18b8c3aade51"
        ],
        "x": 154,
        "y": 399,
        "w": 632,
        "h": 262
    },
    {
        "id": "323958da1d4e2b7b",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Client Jugs",
        "style": {
            "label": true
        },
        "nodes": [
            "14a3846a85810dfa",
            "27e373792b79bb87",
            "8a150a90525f1e19",
            "b599ee280cb26889",
            "761f1c76987d467d",
            "1a3567de62c2120d",
            "a385fed9aa8a7fe3",
            "e3923ac5b4ee2839",
            "4708d0a4450dd8e9",
            "3472f2444d2a7046",
            "552a23f5ed7b1610",
            "669db4e658511a7f",
            "4734de29655a0c1a"
        ],
        "x": 154,
        "y": 99,
        "w": 1152,
        "h": 242
    },
    {
        "id": "a70a5b1a39c32320",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Create/Delete Thing Thingworx",
        "style": {
            "label": true
        },
        "nodes": [
            "df69d4b1370ec407",
            "b9b2e90c86433bf3",
            "8745783c2d4b7dfb",
            "abf1b4b172e6ae86",
            "120dae098c73873b",
            "6bf593c124f692f4",
            "1e33342913f1a641",
            "e007aae71a2fd34c",
            "12e14872e9e1debc",
            "fa3fe7db1655837d",
            "5a63caf10b3b9a0e",
            "983a4efb652711eb",
            "acb3b289268ebf17",
            "289d5d7502ba340b",
            "776ccf38c843d360",
            "c5526e3a82f3fba4",
            "00166d442c6f8738"
        ],
        "x": 154,
        "y": 719,
        "w": 1172,
        "h": 342
    },
    {
        "id": "1589093497ae43e3",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Pair Request from Jug to add it to DB and ThingWorx",
        "style": {
            "label": true
        },
        "nodes": [
            "f5c3aee0864a46be",
            "e57bdf0359866749",
            "61ff41d6f79027dd",
            "378b9baed000b7e6",
            "99c1e01bcdde1e9a",
            "a55abe65144b7b0c",
            "dcd2b471dd5d1d54",
            "fa470500be985961"
        ],
        "x": 34,
        "y": 699,
        "w": 1292,
        "h": 142
    },
    {
        "id": "bdbaa79edcd82992",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "User Registration HTTP Request",
        "style": {
            "label": true
        },
        "nodes": [
            "e617a36252101d98",
            "9f2b775c5e24acb8",
            "10b809801dba4bcb",
            "ce4aa892ac61f3a4",
            "a492c59417e3526d",
            "c80edb6648fb5c23",
            "dd1013cf1ed907ad",
            "4d1c9031b225c4e5",
            "da290a44a03ac8ee"
        ],
        "x": 34,
        "y": 19,
        "w": 1292,
        "h": 202
    },
    {
        "id": "cb681741da812fc7",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "User Login HTTP Request",
        "style": {
            "label": true
        },
        "nodes": [
            "4f6f6fac724a496a",
            "5c3d7fd931d482a9",
            "02a9ea9e41023edc",
            "7b80c134f08a63b6",
            "74a2182d6cf3432b",
            "6737c839da4aeeab",
            "594f99b964435f02",
            "b3a6633e59d62793",
            "a4b68c47b965d3f2"
        ],
        "x": 34,
        "y": 259,
        "w": 1292,
        "h": 222
    },
    {
        "id": "dd69043d1cb5236a",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Show / Clean UserTable",
        "style": {
            "label": true,
            "stroke": "#ff0000",
            "color": "#ff0000"
        },
        "nodes": [
            "3c434ec046f71a23",
            "83c99c7142a96e7f",
            "e8bc2dd148bbffb3",
            "5898347def636b4d",
            "d0c5bf7405388a7c",
            "c98c52a08de3b558"
        ],
        "x": 34,
        "y": 519,
        "w": 632,
        "h": 142
    },
    {
        "id": "2014e345587e4007",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Show / Clean JugTable",
        "style": {
            "label": true,
            "stroke": "#ff0000",
            "color": "#ff0000"
        },
        "nodes": [
            "801868f4cc631259",
            "28705e872a39bf64",
            "1cd3cb4c7a6a6292",
            "f8e038c0ae26a12a",
            "4810de2e5fcc3538",
            "bad79e1fd1d22d16"
        ],
        "x": 694,
        "y": 519,
        "w": 632,
        "h": 142
    },
    {
        "id": "20496de9b60de6a8",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Update Filter Capacity Request",
        "style": {
            "label": true
        },
        "nodes": [
            "a22ecd30043c6866",
            "3045dac9484f5175",
            "72f4e358b9e1da34",
            "20db2b73e97c7a37",
            "0488de0f08689001",
            "86072dca8a4675b9",
            "7fe99103bea3c313",
            "15a4b9f0df755521",
            "8962bee34f1ecb3d"
        ],
        "x": 34,
        "y": 879,
        "w": 1292,
        "h": 142
    },
    {
        "id": "ef04f78fe84031f4",
        "type": "group",
        "z": "3642f44d746371ee",
        "name": "Ensure user own provided jug",
        "style": {
            "label": true
        },
        "nodes": [
            "a28cd932aa8b670a",
            "c04b38ae73eb9b2d",
            "73644bc60c823058",
            "835fc3041479b855"
        ],
        "x": 134,
        "y": 319,
        "w": 792,
        "h": 122
    },
    {
        "id": "261acb4b06f35df7",
        "type": "group",
        "z": "dd62ac133fb1360c",
        "name": "Statistical information",
        "style": {
            "label": true
        },
        "nodes": [
            "fffcf2415ff35daf",
            "e12e139248b70364",
            "6426c3f9917d2081",
            "96122b6e803914d0",
            "c38392d9d315dc5d",
            "5415beb9fff2b624"
        ],
        "x": 314,
        "y": 899,
        "w": 812,
        "h": 142
    },
    {
        "id": "f78c38617ed627c9",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Change User Email Request",
        "style": {
            "label": true
        },
        "nodes": [
            "0e902976e72968fd",
            "419b5ed523e9346f",
            "609dbd1c08bd7ab5",
            "f75a3d739c971280",
            "e6ba9985cbf50861",
            "04ec13791e494d5d",
            "972ae2bb601df8f1",
            "a5402ac78cf6ece8",
            "04da69c72b57d39e"
        ],
        "x": 34,
        "y": 1059,
        "w": 1292,
        "h": 182
    },
    {
        "id": "2d8f9ba287e5298a",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Change User Password Request",
        "style": {
            "label": true
        },
        "nodes": [
            "52c86537f1269879",
            "181a7d2e9fcd4401",
            "3e44f1d40cd6ce3c",
            "59187e25badcac28",
            "dfee985f36d96ec3",
            "2e8e555a47647e91",
            "56503f67950889f9",
            "f550a3ea77c0a320",
            "0b04a181ff7e9628"
        ],
        "x": 34,
        "y": 1279,
        "w": 1292,
        "h": 182
    },
    {
        "id": "85cf4f26a7c39064",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Account Deletion Request",
        "style": {
            "label": true
        },
        "nodes": [
            "2a9796619308d20a",
            "98bdb442331f9b81",
            "74e10613a80e738c",
            "7a0bf8e481e8a362",
            "5f0ce829587c2de1",
            "47ec1230f0a190de",
            "0e21d86ce0178699",
            "d3d0bb83655f4888",
            "e9961cce33071acc",
            "a149da1c07a321c2"
        ],
        "x": 34,
        "y": 1499,
        "w": 1292,
        "h": 182
    },
    {
        "id": "f74c838012730271",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Godot Simulator",
        "style": {
            "label": true
        },
        "nodes": [
            "eb0e1351ff4cb256",
            "14f845b4086a8052"
        ],
        "x": 154,
        "y": 1119,
        "w": 372,
        "h": 82
    },
    {
        "id": "d0158497c3f88bb8",
        "type": "group",
        "z": "b6b33a23690f53f3",
        "name": "ThingWorx Interfacing",
        "style": {
            "label": true
        },
        "nodes": [
            "ce16f9573b804d91",
            "6f1e5e7364d80697",
            "12d7faae89458ea7",
            "5abf18101812be96",
            "505ccfe324b1de17"
        ],
        "x": 294,
        "y": 159,
        "w": 612,
        "h": 182
    },
    {
        "id": "dd1013cf1ed907ad",
        "type": "junction",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "x": 700,
        "y": 180,
        "wires": [
            [
                "10b809801dba4bcb"
            ]
        ]
    },
    {
        "id": "b3a6633e59d62793",
        "type": "junction",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "4f6f6fac724a496a"
            ]
        ]
    },
    {
        "id": "04ec13791e494d5d",
        "type": "junction",
        "z": "217d4457bda21c0d",
        "g": "f78c38617ed627c9",
        "x": 720,
        "y": 1200,
        "wires": [
            [
                "419b5ed523e9346f"
            ]
        ]
    },
    {
        "id": "2e8e555a47647e91",
        "type": "junction",
        "z": "217d4457bda21c0d",
        "g": "2d8f9ba287e5298a",
        "x": 660,
        "y": 1420,
        "wires": [
            [
                "181a7d2e9fcd4401"
            ]
        ]
    },
    {
        "id": "47ec1230f0a190de",
        "type": "junction",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "x": 720,
        "y": 1640,
        "wires": [
            [
                "98bdb442331f9b81"
            ]
        ]
    },
    {
        "id": "c77abff0c3609a0d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://212.78.1.205",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c1ceec1569757720",
        "type": "ui_tab",
        "name": "Jugs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fcdb4c412482dcd0",
        "type": "ui_group",
        "name": "Total Litres (App)",
        "tab": "c1ceec1569757720",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc5f98c0f184bc2e",
        "type": "ui_group",
        "name": "Litres per second (App)",
        "tab": "c1ceec1569757720",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c527304ede8acd9c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a6a64a541ae8c000",
        "type": "ui_group",
        "name": "Plastic saved",
        "tab": "ff083ec2093f4a2e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "647f7f903ce97865",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "DB_IP",
        "hostFieldType": "env",
        "port": "DB_PORT",
        "portFieldType": "env",
        "database": "jugdb",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "nodered",
        "userFieldType": "str",
        "password": "passwordsegreta",
        "passwordFieldType": "str"
    },
    {
        "id": "ff083ec2093f4a2e",
        "type": "ui_tab",
        "name": "Jugs Enterprise",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1a0b3959db61542",
        "type": "ui_group",
        "name": "Litres informations",
        "tab": "ff083ec2093f4a2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2dab9229986fd1ba",
        "type": "ui_group",
        "name": "Textual informations",
        "tab": "ff083ec2093f4a2e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f666e567f16cadaa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "12c2e9b2a697267d",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "ff083ec2093f4a2e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "587d719d685f7298",
        "type": "function",
        "z": "8ae59feea1fac0e6",
        "d": true,
        "name": "Extract email",
        "func": "msg.params = [msg.payload.username];\nmsg.old = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "43ca287d27944fbd"
            ]
        ]
    },
    {
        "id": "8e7d846effd9e3d7",
        "type": "json",
        "z": "8ae59feea1fac0e6",
        "name": "to obj",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "587d719d685f7298",
                "69cda81b0575d657"
            ]
        ]
    },
    {
        "id": "68a2107c3e0d91ed",
        "type": "switch",
        "z": "8ae59feea1fac0e6",
        "name": "Does user already exists?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 140,
        "wires": [
            [],
            [
                "c2adafc6141062ba",
                "7837703e879a4a5c"
            ]
        ]
    },
    {
        "id": "43ca287d27944fbd",
        "type": "postgresql",
        "z": "8ae59feea1fac0e6",
        "name": "Select User with provided email",
        "query": "SELECT * FROM UserTable WHERE email = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 80,
        "wires": [
            [
                "fa53f57ac6c934fc",
                "68a2107c3e0d91ed"
            ]
        ]
    },
    {
        "id": "c2adafc6141062ba",
        "type": "function",
        "z": "8ae59feea1fac0e6",
        "d": true,
        "name": "Return existent email and pw",
        "func": "msg.params = [msg.old.username, msg.old.password];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fa53f57ac6c934fc",
        "type": "debug",
        "z": "8ae59feea1fac0e6",
        "name": "Print Postgres Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "69cda81b0575d657",
        "type": "change",
        "z": "8ae59feea1fac0e6",
        "name": "Extract email and save payload",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "old",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "43ca287d27944fbd"
            ]
        ]
    },
    {
        "id": "7837703e879a4a5c",
        "type": "change",
        "z": "8ae59feea1fac0e6",
        "name": "Prepare params (existent email and pw)",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[msg.old.username, msg.old.password]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "344ec21cbcc27646",
        "type": "postgresql",
        "z": "3a056c2d95c24d79",
        "name": "Verify email and password",
        "query": "SELECT userId FROM UserTable WHERE email = $1 AND password = $2;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 810,
        "y": 140,
        "wires": [
            [
                "c9342c2ae65773a2"
            ]
        ]
    },
    {
        "id": "1130f17012c07889",
        "type": "function",
        "z": "3a056c2d95c24d79",
        "d": true,
        "name": "Extract userId",
        "func": "msg.payload = msg.payload[0];\nmsg.userId=msg.payload.userid;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c9342c2ae65773a2",
        "type": "switch",
        "z": "3a056c2d95c24d79",
        "name": "Does User exists?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 140,
        "wires": [
            [
                "1130f17012c07889",
                "eb01921b49e9b9ed"
            ],
            []
        ]
    },
    {
        "id": "68fcddddc6fb266a",
        "type": "json",
        "z": "3a056c2d95c24d79",
        "name": "to obj",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "7e1954517d0b4ab3",
                "fb7f4297b358477b"
            ]
        ]
    },
    {
        "id": "7e1954517d0b4ab3",
        "type": "change",
        "z": "3a056c2d95c24d79",
        "name": "Prepare params (email and password) and save payload",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[msg.payload.username, msg.payload.password]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "old",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "344ec21cbcc27646"
            ]
        ]
    },
    {
        "id": "fb7f4297b358477b",
        "type": "function",
        "z": "3a056c2d95c24d79",
        "d": true,
        "name": "Prepare params (email and password) and save payload",
        "func": "msg.params = [msg.payload.username, msg.payload.password];\nmsg.old = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "344ec21cbcc27646"
            ]
        ]
    },
    {
        "id": "eb01921b49e9b9ed",
        "type": "change",
        "z": "3a056c2d95c24d79",
        "name": "Extract userId",
        "rules": [
            {
                "t": "set",
                "p": "userId",
                "pt": "msg",
                "to": "msg.payload[0].userId",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ce16f9573b804d91",
        "type": "http request",
        "z": "b6b33a23690f53f3",
        "g": "d0158497c3f88bb8",
        "name": "Create Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Resources/EntityServices/Services/CreateThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "5abf18101812be96"
            ]
        ]
    },
    {
        "id": "90af0b5592d2b50b",
        "type": "function",
        "z": "b6b33a23690f53f3",
        "name": "Craft success message on condition",
        "func": "if (msg.payload == \"\"){\n    msg.payload = \"Thing successfully added.\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "4818a8ee8ce9699e"
            ]
        ]
    },
    {
        "id": "6f1e5e7364d80697",
        "type": "http request",
        "z": "b6b33a23690f53f3",
        "g": "d0158497c3f88bb8",
        "name": "Enable Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Services/EnableThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 610,
        "y": 240,
        "wires": [
            [
                "12d7faae89458ea7"
            ]
        ]
    },
    {
        "id": "12d7faae89458ea7",
        "type": "http request",
        "z": "b6b33a23690f53f3",
        "g": "d0158497c3f88bb8",
        "name": "Restart Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Services/RestartThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "90af0b5592d2b50b"
            ]
        ]
    },
    {
        "id": "5abf18101812be96",
        "type": "delay",
        "z": "b6b33a23690f53f3",
        "g": "d0158497c3f88bb8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "6f1e5e7364d80697"
            ]
        ]
    },
    {
        "id": "c4bdcc33cbf74d3f",
        "type": "function",
        "z": "b6b33a23690f53f3",
        "name": "Create HTTP Body with Thing name, projectName and Template",
        "func": "msg.payload = { \"name\": `Jug${msg.payload}`, \"projectName\": \"cattaneo-isola\", \"thingTemplateName\": \"JugTemplate\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "89435c690d0590a0"
            ]
        ]
    },
    {
        "id": "4ef11d4b115a505d",
        "type": "change",
        "z": "b6b33a23690f53f3",
        "name": "Extract thing_id",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "c4bdcc33cbf74d3f"
            ]
        ]
    },
    {
        "id": "4818a8ee8ce9699e",
        "type": "debug",
        "z": "b6b33a23690f53f3",
        "name": "Print result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 300,
        "wires": []
    },
    {
        "id": "89435c690d0590a0",
        "type": "link out",
        "z": "b6b33a23690f53f3",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "77644a81e9d05044"
        ],
        "x": 925,
        "y": 100,
        "wires": []
    },
    {
        "id": "77644a81e9d05044",
        "type": "link in",
        "z": "b6b33a23690f53f3",
        "name": "link in 1",
        "links": [
            "89435c690d0590a0"
        ],
        "x": 205,
        "y": 240,
        "wires": [
            [
                "ce16f9573b804d91"
            ]
        ]
    },
    {
        "id": "505ccfe324b1de17",
        "type": "comment",
        "z": "b6b33a23690f53f3",
        "g": "d0158497c3f88bb8",
        "name": "The flow is Creation, Enabling, Restarting necessary to make the thing work",
        "info": "",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "4401d53accce85c2",
        "type": "function",
        "z": "98b9aea3ec541c1d",
        "d": true,
        "name": "Prepare params (jugId, userId)",
        "func": "msg.params = [msg.payload, msg.token.userid]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "17a95012080ff363"
            ]
        ]
    },
    {
        "id": "17a95012080ff363",
        "type": "postgresql",
        "z": "98b9aea3ec541c1d",
        "name": "Insert or Update Jug",
        "query": "INSERT INTO JugTable VALUES ($1, $2)\nON CONFLICT (id) DO UPDATE\n    SET userId = $2;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "7337b18b2043a237",
                "f8faf80141350fb1"
            ]
        ]
    },
    {
        "id": "7337b18b2043a237",
        "type": "function",
        "z": "98b9aea3ec541c1d",
        "d": true,
        "name": "Craft Return Status \"OK\"",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f8faf80141350fb1",
        "type": "change",
        "z": "98b9aea3ec541c1d",
        "name": "Craft Return Status \"OK\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "111121c67e0c3d75",
        "type": "change",
        "z": "98b9aea3ec541c1d",
        "name": "Prepare params (jugId, userId)",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[msg.payload, msg.token.userid]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "17a95012080ff363"
            ]
        ]
    },
    {
        "id": "08d1b59a62811f23",
        "type": "http request",
        "z": "3642f44d746371ee",
        "name": "Update Filter Capacity (ThingWorx)",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{jug}}/Properties/filterCapacity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "d6319534d951e563",
                "050676abb0421d78"
            ]
        ]
    },
    {
        "id": "a28cd932aa8b670a",
        "type": "postgresql",
        "z": "3642f44d746371ee",
        "g": "ef04f78fe84031f4",
        "name": "Check if user owns the jug",
        "query": "SELECT userId FROM JugTable WHERE id = $1 AND userId = $2;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "c04b38ae73eb9b2d"
            ]
        ]
    },
    {
        "id": "f946c919ead8f326",
        "type": "function",
        "z": "3642f44d746371ee",
        "d": true,
        "name": "Prepare params (jugId, userId)",
        "func": "msg.params = [msg.jug, msg.token.userid];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 200,
        "wires": [
            [
                "8f94d384237826ce"
            ]
        ]
    },
    {
        "id": "c04b38ae73eb9b2d",
        "type": "switch",
        "z": "3642f44d746371ee",
        "g": "ef04f78fe84031f4",
        "name": "Is the owner?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "73644bc60c823058",
                "835fc3041479b855"
            ],
            []
        ]
    },
    {
        "id": "73644bc60c823058",
        "type": "function",
        "z": "3642f44d746371ee",
        "d": true,
        "g": "ef04f78fe84031f4",
        "name": "Prepare params (jugId, userId)",
        "func": "msg.params = [msg.jug, msg.filter];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 400,
        "wires": [
            [
                "60fbee03fcdd5c2a"
            ]
        ]
    },
    {
        "id": "d6035113f9e9c06c",
        "type": "function",
        "z": "3642f44d746371ee",
        "d": true,
        "name": "Set filterCapacity",
        "func": "msg.payload = { \"filterCapacity\": msg.filter}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "08d1b59a62811f23"
            ]
        ]
    },
    {
        "id": "d6319534d951e563",
        "type": "function",
        "z": "3642f44d746371ee",
        "d": true,
        "name": "Craft Return Status \"OK\"",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "45d1266ff6761abe",
        "type": "postgresql",
        "z": "3642f44d746371ee",
        "name": "Update Filter Capacity (DB)",
        "query": "UPDATE JugTable SET filterCapacity = $2 WHERE id = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "d6035113f9e9c06c",
                "8a11ea59c3f8d60a"
            ]
        ]
    },
    {
        "id": "8f94d384237826ce",
        "type": "link out",
        "z": "3642f44d746371ee",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "41f71804df137c63"
        ],
        "x": 395,
        "y": 160,
        "wires": []
    },
    {
        "id": "44cdf7193a38af25",
        "type": "link in",
        "z": "3642f44d746371ee",
        "name": "link in 3",
        "links": [
            "60fbee03fcdd5c2a"
        ],
        "x": 485,
        "y": 160,
        "wires": [
            [
                "45d1266ff6761abe"
            ]
        ]
    },
    {
        "id": "60fbee03fcdd5c2a",
        "type": "link out",
        "z": "3642f44d746371ee",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "44cdf7193a38af25"
        ],
        "x": 965,
        "y": 360,
        "wires": []
    },
    {
        "id": "41f71804df137c63",
        "type": "link in",
        "z": "3642f44d746371ee",
        "name": "link in 4",
        "links": [
            "8f94d384237826ce"
        ],
        "x": 95,
        "y": 360,
        "wires": [
            [
                "a28cd932aa8b670a"
            ]
        ]
    },
    {
        "id": "b6b4dc96767b01fb",
        "type": "change",
        "z": "3642f44d746371ee",
        "name": "Prepare params (jugId, userId)",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[msg.jug, msg.token.userid]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "8f94d384237826ce"
            ]
        ]
    },
    {
        "id": "8a11ea59c3f8d60a",
        "type": "change",
        "z": "3642f44d746371ee",
        "name": "Set filterCapacity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"filterCapacity\": msg.filter}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 160,
        "wires": [
            [
                "08d1b59a62811f23"
            ]
        ]
    },
    {
        "id": "050676abb0421d78",
        "type": "change",
        "z": "3642f44d746371ee",
        "name": "Craft Return Status \"OK\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "835fc3041479b855",
        "type": "change",
        "z": "3642f44d746371ee",
        "g": "ef04f78fe84031f4",
        "name": "Prepare params (jugId, filterCapacity)",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[msg.jug, msg.filter]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "60fbee03fcdd5c2a"
            ]
        ]
    },
    {
        "id": "325c4faa337cc671",
        "type": "postgresql",
        "z": "fa232f5df39eb96b",
        "name": "Get Jug ids from DB",
        "query": "SELECT id FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "24edee6879b68938"
            ]
        ]
    },
    {
        "id": "24edee6879b68938",
        "type": "split",
        "z": "fa232f5df39eb96b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "d824589b06d07a80"
            ]
        ]
    },
    {
        "id": "d824589b06d07a80",
        "type": "function",
        "z": "fa232f5df39eb96b",
        "name": "Construct Jug Definition (name, projectName, Template)",
        "func": "msg.payload = {\"name\": \"Jug\" + msg.payload.id,  \"projectName\":\"cattaneo-isola\", \"thingTemplateName\": \"JugTemplate\" }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 80,
        "wires": [
            [
                "de0bdc66b84eb42b"
            ]
        ]
    },
    {
        "id": "de0bdc66b84eb42b",
        "type": "debug",
        "z": "fa232f5df39eb96b",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "e66f8155b4e1b52a",
        "type": "function",
        "z": "f05d8c8cfc406587",
        "d": true,
        "name": "Prepare params (email), save new email",
        "func": "msg.params = msg.payload.email;\nmsg.newEmail = msg.payload.newEmail;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "c2822bf990e74802"
            ]
        ]
    },
    {
        "id": "c2822bf990e74802",
        "type": "postgresql",
        "z": "f05d8c8cfc406587",
        "name": "Select user with provided email",
        "query": "SELECT userId FROM UserTable WHERE email = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "b85105acce2536a8"
            ]
        ]
    },
    {
        "id": "0cfe13a9f759e6cf",
        "type": "function",
        "z": "f05d8c8cfc406587",
        "d": true,
        "name": "Extract userId",
        "func": "msg.payload = msg.payload[0];\nmsg.userId=msg.payload.userid;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 40,
        "wires": [
            [
                "dd3c6b3d71b6914d"
            ]
        ]
    },
    {
        "id": "b85105acce2536a8",
        "type": "switch",
        "z": "f05d8c8cfc406587",
        "name": "If user exists",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 140,
        "wires": [
            [
                "0cfe13a9f759e6cf",
                "37df3d6986dbea88"
            ],
            []
        ]
    },
    {
        "id": "a9ec44fac6c9a09e",
        "type": "json",
        "z": "f05d8c8cfc406587",
        "name": "to obj",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "e66f8155b4e1b52a",
                "fc54802f14364e95"
            ]
        ]
    },
    {
        "id": "dd3c6b3d71b6914d",
        "type": "change",
        "z": "f05d8c8cfc406587",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[msg.userId, msg.newEmail]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fc54802f14364e95",
        "type": "change",
        "z": "f05d8c8cfc406587",
        "name": "Prepare params (email), save new email",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "msg.payload.email",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "newEmail",
                "pt": "msg",
                "to": "msg.payload.newEmail",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "c2822bf990e74802"
            ]
        ]
    },
    {
        "id": "37df3d6986dbea88",
        "type": "change",
        "z": "f05d8c8cfc406587",
        "name": "Prepare params (userId, newEmail)",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[msg.payload[0].userId, msg.newEmail]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "108b22bc6a8f63b5",
        "type": "function",
        "z": "068fb15905289024",
        "d": true,
        "name": "Extract email, old pw and new pw",
        "func": "msg.params = msg.payload.email;\nmsg.oldPw = msg.payload.oldPw;\nmsg.pw = msg.payload.pw;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "8b3ebfb491597f88"
            ]
        ]
    },
    {
        "id": "8b3ebfb491597f88",
        "type": "postgresql",
        "z": "068fb15905289024",
        "name": "Check if user with email provided exists",
        "query": "SELECT userId FROM UserTable WHERE email = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "62d9f94796a79510"
            ]
        ]
    },
    {
        "id": "75970ecc2cfbcabf",
        "type": "function",
        "z": "068fb15905289024",
        "d": true,
        "name": "Extract userId",
        "func": "msg.payload = msg.payload[0];\nmsg.userId=msg.payload.userid;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 40,
        "wires": [
            [
                "997c28ceb500a478"
            ]
        ]
    },
    {
        "id": "62d9f94796a79510",
        "type": "switch",
        "z": "068fb15905289024",
        "name": "User exists?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "75970ecc2cfbcabf",
                "997c28ceb500a478"
            ],
            []
        ]
    },
    {
        "id": "77b06aea27b6120d",
        "type": "json",
        "z": "068fb15905289024",
        "name": "to obj",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "108b22bc6a8f63b5",
                "e13ee0f839d3fca9"
            ]
        ]
    },
    {
        "id": "997c28ceb500a478",
        "type": "change",
        "z": "068fb15905289024",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[msg.payload[0].userid, msg.newPw]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e13ee0f839d3fca9",
        "type": "change",
        "z": "068fb15905289024",
        "name": "Extract email, old pw and new pw",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "oldPw",
                "pt": "msg",
                "to": "payload.oldPw",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pw",
                "pt": "msg",
                "to": "payload.pw",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "8b3ebfb491597f88"
            ]
        ]
    },
    {
        "id": "e617a36252101d98",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Registration",
        "url": "/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "c80edb6648fb5c23"
            ]
        ]
    },
    {
        "id": "9f2b775c5e24acb8",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Insert email, pw",
        "query": "INSERT INTO UserTable(email, password) VALUES ($1, $2);",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "4d1c9031b225c4e5"
            ]
        ]
    },
    {
        "id": "10b809801dba4bcb",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 180,
        "wires": []
    },
    {
        "id": "ce4aa892ac61f3a4",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c434ec046f71a23",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "83c99c7142a96e7f"
            ]
        ]
    },
    {
        "id": "83c99c7142a96e7f",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "Show USER table",
        "query": "SELECT * FROM UserTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "e8bc2dd148bbffb3"
            ]
        ]
    },
    {
        "id": "e8bc2dd148bbffb3",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "a492c59417e3526d",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "to json",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1050,
        "y": 140,
        "wires": [
            [
                "10b809801dba4bcb"
            ]
        ]
    },
    {
        "id": "5898347def636b4d",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "d0c5bf7405388a7c"
            ]
        ]
    },
    {
        "id": "d0c5bf7405388a7c",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "Clean USER table",
        "query": "DELETE FROM UserTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 620,
        "wires": [
            [
                "c98c52a08de3b558"
            ]
        ]
    },
    {
        "id": "c98c52a08de3b558",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "dd69043d1cb5236a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 620,
        "wires": []
    },
    {
        "id": "5c3d7fd931d482a9",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "594f99b964435f02"
            ]
        ]
    },
    {
        "id": "4f6f6fac724a496a",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 440,
        "wires": []
    },
    {
        "id": "02a9ea9e41023edc",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "7b80c134f08a63b6",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "to json",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "4f6f6fac724a496a"
            ]
        ]
    },
    {
        "id": "74a2182d6cf3432b",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Craft Return Status \"OK\", Set Token and UserId ",
        "func": "msg.payload = { \"status\": \"OK\", \"token\": msg.payload, \"userId\": msg.userId };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 340,
        "wires": [
            [
                "7b80c134f08a63b6",
                "02a9ea9e41023edc"
            ]
        ]
    },
    {
        "id": "f5c3aee0864a46be",
        "type": "mqtt in",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "topic": "/jug/pair",
        "qos": "0",
        "datatype": "json",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 740,
        "wires": [
            [
                "61ff41d6f79027dd",
                "fa470500be985961"
            ]
        ]
    },
    {
        "id": "e57bdf0359866749",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "Print Token",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 740,
        "wires": []
    },
    {
        "id": "61ff41d6f79027dd",
        "type": "function",
        "z": "217d4457bda21c0d",
        "d": true,
        "g": "1589093497ae43e3",
        "name": "Extract id and token",
        "func": "msg.token = msg.payload.token;\nmsg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 800,
        "wires": [
            [
                "378b9baed000b7e6"
            ]
        ]
    },
    {
        "id": "378b9baed000b7e6",
        "type": "jwt verify",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "alg": [
            "HS256"
        ],
        "jwkurl": "",
        "secret": "secret",
        "key": "",
        "signvar": "token",
        "storetoken": "token",
        "x": 530,
        "y": 740,
        "wires": [
            [
                "a55abe65144b7b0c",
                "dcd2b471dd5d1d54"
            ]
        ]
    },
    {
        "id": "6737c839da4aeeab",
        "type": "jwt sign",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "JWT Sign of userId",
        "alg": "HS256",
        "exp": "31536000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "secret",
        "key": "",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "74a2182d6cf3432b"
            ]
        ]
    },
    {
        "id": "c80edb6648fb5c23",
        "type": "subflow:8ae59feea1fac0e6",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "9f2b775c5e24acb8"
            ],
            [
                "dd1013cf1ed907ad"
            ]
        ]
    },
    {
        "id": "594f99b964435f02",
        "type": "subflow:3a056c2d95c24d79",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "6737c839da4aeeab"
            ],
            [
                "b3a6633e59d62793"
            ]
        ]
    },
    {
        "id": "99c1e01bcdde1e9a",
        "type": "mqtt out",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "topic": "/jug/pair/response",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1210,
        "y": 800,
        "wires": []
    },
    {
        "id": "801868f4cc631259",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 560,
        "wires": [
            [
                "28705e872a39bf64"
            ]
        ]
    },
    {
        "id": "28705e872a39bf64",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "Show  JUG table",
        "query": "SELECT * FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1020,
        "y": 560,
        "wires": [
            [
                "1cd3cb4c7a6a6292"
            ]
        ]
    },
    {
        "id": "1cd3cb4c7a6a6292",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 560,
        "wires": []
    },
    {
        "id": "f8e038c0ae26a12a",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 620,
        "wires": [
            [
                "4810de2e5fcc3538"
            ]
        ]
    },
    {
        "id": "4810de2e5fcc3538",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "Clean JUG table",
        "query": "DELETE FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1020,
        "y": 620,
        "wires": [
            [
                "bad79e1fd1d22d16"
            ]
        ]
    },
    {
        "id": "bad79e1fd1d22d16",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "2014e345587e4007",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 620,
        "wires": []
    },
    {
        "id": "a22ecd30043c6866",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "Get Filter",
        "url": "/filter",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "7fe99103bea3c313"
            ]
        ]
    },
    {
        "id": "3045dac9484f5175",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 980,
        "wires": []
    },
    {
        "id": "72f4e358b9e1da34",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 920,
        "wires": []
    },
    {
        "id": "20db2b73e97c7a37",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "to json",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1070,
        "y": 980,
        "wires": [
            [
                "3045dac9484f5175"
            ]
        ]
    },
    {
        "id": "0488de0f08689001",
        "type": "function",
        "z": "217d4457bda21c0d",
        "d": true,
        "g": "20496de9b60de6a8",
        "name": "Extract id, token, filterCapacity",
        "func": "msg.token = msg.payload.token;\nmsg.jug = msg.payload.id;\nmsg.filter = msg.payload.filterCapacity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 980,
        "wires": [
            [
                "86072dca8a4675b9"
            ]
        ]
    },
    {
        "id": "86072dca8a4675b9",
        "type": "jwt verify",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "",
        "alg": [
            "HS256"
        ],
        "jwkurl": "",
        "secret": "secret",
        "key": "",
        "signvar": "token",
        "storetoken": "token",
        "x": 670,
        "y": 940,
        "wires": [
            [
                "15a4b9f0df755521"
            ]
        ]
    },
    {
        "id": "7fe99103bea3c313",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "to obj",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "0488de0f08689001",
                "8962bee34f1ecb3d"
            ]
        ]
    },
    {
        "id": "a55abe65144b7b0c",
        "type": "subflow:b6b33a23690f53f3",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "dcd2b471dd5d1d54",
        "type": "subflow:98b9aea3ec541c1d",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "x": 770,
        "y": 740,
        "wires": [
            [
                "e57bdf0359866749",
                "99c1e01bcdde1e9a"
            ]
        ]
    },
    {
        "id": "15a4b9f0df755521",
        "type": "subflow:3642f44d746371ee",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "",
        "x": 890,
        "y": 940,
        "wires": [
            [
                "20db2b73e97c7a37",
                "72f4e358b9e1da34"
            ]
        ]
    },
    {
        "id": "0e902976e72968fd",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "f78c38617ed627c9",
        "name": "Change email",
        "url": "/email",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "a5402ac78cf6ece8"
            ]
        ]
    },
    {
        "id": "419b5ed523e9346f",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "f78c38617ed627c9",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 1200,
        "wires": []
    },
    {
        "id": "609dbd1c08bd7ab5",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "f78c38617ed627c9",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f75a3d739c971280",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "f78c38617ed627c9",
        "name": "to json",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1110,
        "y": 1160,
        "wires": [
            [
                "419b5ed523e9346f"
            ]
        ]
    },
    {
        "id": "e6ba9985cbf50861",
        "type": "function",
        "z": "217d4457bda21c0d",
        "d": true,
        "g": "f78c38617ed627c9",
        "name": "Craft Return Status \"OK\"",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1160,
        "wires": [
            [
                "609dbd1c08bd7ab5",
                "f75a3d739c971280"
            ]
        ]
    },
    {
        "id": "972ae2bb601df8f1",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "f78c38617ed627c9",
        "name": "Update User Email",
        "query": "UPDATE UserTable SET email = $2 WHERE id = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 690,
        "y": 1120,
        "wires": [
            [
                "e6ba9985cbf50861",
                "04da69c72b57d39e"
            ]
        ]
    },
    {
        "id": "a5402ac78cf6ece8",
        "type": "subflow:f05d8c8cfc406587",
        "z": "217d4457bda21c0d",
        "g": "f78c38617ed627c9",
        "x": 410,
        "y": 1120,
        "wires": [
            [
                "972ae2bb601df8f1"
            ],
            [
                "04ec13791e494d5d"
            ]
        ]
    },
    {
        "id": "52c86537f1269879",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "2d8f9ba287e5298a",
        "name": "Change password",
        "url": "/pw",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1340,
        "wires": [
            [
                "f550a3ea77c0a320"
            ]
        ]
    },
    {
        "id": "181a7d2e9fcd4401",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "2d8f9ba287e5298a",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 1420,
        "wires": []
    },
    {
        "id": "3e44f1d40cd6ce3c",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "2d8f9ba287e5298a",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1320,
        "wires": []
    },
    {
        "id": "59187e25badcac28",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "2d8f9ba287e5298a",
        "name": "to json",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1110,
        "y": 1380,
        "wires": [
            [
                "181a7d2e9fcd4401"
            ]
        ]
    },
    {
        "id": "dfee985f36d96ec3",
        "type": "function",
        "z": "217d4457bda21c0d",
        "d": true,
        "g": "2d8f9ba287e5298a",
        "name": "Craft Return Status \"OK\"",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1380,
        "wires": [
            [
                "3e44f1d40cd6ce3c",
                "59187e25badcac28"
            ]
        ]
    },
    {
        "id": "56503f67950889f9",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "2d8f9ba287e5298a",
        "name": "Update User Password",
        "query": "UPDATE UserTable SET password = $2 WHERE id = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 690,
        "y": 1340,
        "wires": [
            [
                "dfee985f36d96ec3",
                "0b04a181ff7e9628"
            ]
        ]
    },
    {
        "id": "f550a3ea77c0a320",
        "type": "subflow:068fb15905289024",
        "z": "217d4457bda21c0d",
        "g": "2d8f9ba287e5298a",
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "56503f67950889f9"
            ],
            [
                "2e8e555a47647e91"
            ]
        ]
    },
    {
        "id": "2a9796619308d20a",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "name": "Delete account",
        "url": "/deleteAccount",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1600,
        "wires": [
            [
                "d3d0bb83655f4888"
            ]
        ]
    },
    {
        "id": "98bdb442331f9b81",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 1640,
        "wires": []
    },
    {
        "id": "74e10613a80e738c",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "name": "Print Return Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7a0bf8e481e8a362",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "name": "to json",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1130,
        "y": 1600,
        "wires": [
            [
                "98bdb442331f9b81"
            ]
        ]
    },
    {
        "id": "5f0ce829587c2de1",
        "type": "function",
        "z": "217d4457bda21c0d",
        "d": true,
        "g": "85cf4f26a7c39064",
        "name": "Craft Return Status \"OK\"",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1600,
        "wires": [
            [
                "74e10613a80e738c",
                "7a0bf8e481e8a362"
            ]
        ]
    },
    {
        "id": "0e21d86ce0178699",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "name": "Delete Account",
        "query": "DELETE FROM UserTable WHERE id = $1",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 740,
        "y": 1560,
        "wires": [
            [
                "5f0ce829587c2de1",
                "a149da1c07a321c2"
            ]
        ]
    },
    {
        "id": "d3d0bb83655f4888",
        "type": "subflow:3a056c2d95c24d79",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "name": "",
        "x": 330,
        "y": 1600,
        "wires": [
            [
                "e9961cce33071acc"
            ],
            [
                "47ec1230f0a190de"
            ]
        ]
    },
    {
        "id": "e9961cce33071acc",
        "type": "change",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "name": "Set params (userId)",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "userId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1560,
        "wires": [
            [
                "0e21d86ce0178699"
            ]
        ]
    },
    {
        "id": "4d1c9031b225c4e5",
        "type": "change",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Craft Return Status \"OK\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 100,
        "wires": [
            [
                "ce4aa892ac61f3a4",
                "a492c59417e3526d"
            ]
        ]
    },
    {
        "id": "fa470500be985961",
        "type": "change",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "Extract jugId and Token",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "payload.token",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "378b9baed000b7e6"
            ]
        ]
    },
    {
        "id": "da290a44a03ac8ee",
        "type": "comment",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "If user doesn't exists, insert into DB, otherwise respond back with provided credentials",
        "info": "",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "a4b68c47b965d3f2",
        "type": "comment",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Verify credentials for login, create an unique JWT Token to identify user when pair jug",
        "info": "",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "8962bee34f1ecb3d",
        "type": "change",
        "z": "217d4457bda21c0d",
        "g": "20496de9b60de6a8",
        "name": "Extract id, token, filterCapacity",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "payload.token",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "jug",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "filter",
                "pt": "msg",
                "to": "payload.filterCapacity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 940,
        "wires": [
            [
                "86072dca8a4675b9"
            ]
        ]
    },
    {
        "id": "04da69c72b57d39e",
        "type": "change",
        "z": "217d4457bda21c0d",
        "g": "f78c38617ed627c9",
        "name": "Craft Return Status \"OK\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1120,
        "wires": [
            [
                "609dbd1c08bd7ab5",
                "f75a3d739c971280"
            ]
        ]
    },
    {
        "id": "0b04a181ff7e9628",
        "type": "change",
        "z": "217d4457bda21c0d",
        "g": "2d8f9ba287e5298a",
        "name": "Craft Return Status \"OK\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1340,
        "wires": [
            [
                "3e44f1d40cd6ce3c",
                "59187e25badcac28"
            ]
        ]
    },
    {
        "id": "a149da1c07a321c2",
        "type": "change",
        "z": "217d4457bda21c0d",
        "g": "85cf4f26a7c39064",
        "name": "Craft Return Status \"OK\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1560,
        "wires": [
            [
                "7a0bf8e481e8a362",
                "74e10613a80e738c"
            ]
        ]
    },
    {
        "id": "f26cc9e6ff46d635",
        "type": "mqtt in",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "",
        "topic": "/Thingworx/Jug1/litresPerSecond",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "b6601b20bee7cc98",
                "76ef18b8c3aade51"
            ]
        ]
    },
    {
        "id": "b6601b20bee7cc98",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "Litres per second",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "16a011c4b7e2fc9f",
        "type": "mqtt in",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "",
        "topic": "/Thingworx/Jug555/totalLitresFilter",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 580,
        "wires": [
            [
                "06d3ba75d9facdef",
                "f8c1aade031fe803"
            ]
        ]
    },
    {
        "id": "06d3ba75d9facdef",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "Litres in total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "27e373792b79bb87",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug1/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "8a150a90525f1e19",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "b599ee280cb26889"
            ]
        ]
    },
    {
        "id": "b599ee280cb26889",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "761f1c76987d467d",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "Clear values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "27e373792b79bb87",
                "1a3567de62c2120d",
                "4708d0a4450dd8e9",
                "669db4e658511a7f",
                "4734de29655a0c1a",
                "14a3846a85810dfa"
            ]
        ]
    },
    {
        "id": "1a3567de62c2120d",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug2/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "a385fed9aa8a7fe3",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "num",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "e3923ac5b4ee2839"
            ]
        ]
    },
    {
        "id": "e3923ac5b4ee2839",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4708d0a4450dd8e9",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug3/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "3472f2444d2a7046",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.3",
        "payloadType": "num",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "552a23f5ed7b1610"
            ]
        ]
    },
    {
        "id": "552a23f5ed7b1610",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "669db4e658511a7f",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug0/totalLitresJug",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "4734de29655a0c1a",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug2/totalLitresJug",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1150,
        "y": 260,
        "wires": []
    },
    {
        "id": "14a3846a85810dfa",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug3/totalLitresJug",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "df69d4b1370ec407",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Create Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Resources/EntityServices/Services/CreateThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b9b2e90c86433bf3",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 760,
        "wires": []
    },
    {
        "id": "8745783c2d4b7dfb",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Inject Jug",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"name\": \"Jug555\",  \"projectName\":\"cattaneo-isola\",    \"thingTemplateName\": \"JugTemplate\" }",
        "payloadType": "json",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "df69d4b1370ec407",
                "5a63caf10b3b9a0e"
            ]
        ]
    },
    {
        "id": "abf1b4b172e6ae86",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Delete Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Resources/EntityServices/Services/DeleteThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 860,
        "wires": [
            [
                "e007aae71a2fd34c"
            ]
        ]
    },
    {
        "id": "120dae098c73873b",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 860,
        "wires": []
    },
    {
        "id": "6bf593c124f692f4",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Inject Jug",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"name\": \"Jug0\",  \"projectName\":\"cattaneo-isola\",    \"thingTemplateName\": \"JugTemplate\" }",
        "payloadType": "json",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "abf1b4b172e6ae86"
            ]
        ]
    },
    {
        "id": "1e33342913f1a641",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Transform output",
        "func": "if (msg.payload == \"\"){\n    msg.payload = \"Thing successfully added.\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 760,
        "wires": [
            [
                "b9b2e90c86433bf3"
            ]
        ]
    },
    {
        "id": "e007aae71a2fd34c",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Transform output",
        "func": "if (msg.payload == \"\"){\n    msg.payload = \"Thing successfully deleted.\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 860,
        "wires": [
            [
                "120dae098c73873b",
                "289d5d7502ba340b"
            ]
        ]
    },
    {
        "id": "f8c1aade031fe803",
        "type": "ui_gauge",
        "z": "4c20aa2ac87fc1e6",
        "d": true,
        "g": "7f812365318f4aea",
        "name": "",
        "group": "fcdb4c412482dcd0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Total litres",
        "label": "units",
        "format": "{{msg.count}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "76ef18b8c3aade51",
        "type": "ui_gauge",
        "z": "4c20aa2ac87fc1e6",
        "d": true,
        "g": "7f812365318f4aea",
        "name": "",
        "group": "cc5f98c0f184bc2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Litres per second",
        "label": "units",
        "format": "{{msg.count}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "12e14872e9e1debc",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Enable Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug555/Services/EnableThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 650,
        "y": 800,
        "wires": [
            [
                "fa3fe7db1655837d"
            ]
        ]
    },
    {
        "id": "fa3fe7db1655837d",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Restart Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug555/Services/RestartThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 840,
        "y": 800,
        "wires": [
            [
                "1e33342913f1a641"
            ]
        ]
    },
    {
        "id": "5a63caf10b3b9a0e",
        "type": "delay",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 800,
        "wires": [
            [
                "12e14872e9e1debc"
            ]
        ]
    },
    {
        "id": "983a4efb652711eb",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Clean all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 920,
        "wires": [
            [
                "acb3b289268ebf17"
            ]
        ]
    },
    {
        "id": "289d5d7502ba340b",
        "type": "postgresql",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Clean table",
        "query": "DELETE FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "acb3b289268ebf17",
        "type": "subflow:fa232f5df39eb96b",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "x": 550,
        "y": 920,
        "wires": [
            [
                "abf1b4b172e6ae86"
            ]
        ]
    },
    {
        "id": "776ccf38c843d360",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Inject Jug",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"maxItems\": \"1000\"}",
        "payloadType": "json",
        "x": 260,
        "y": 1020,
        "wires": [
            [
                "c5526e3a82f3fba4"
            ]
        ]
    },
    {
        "id": "c5526e3a82f3fba4",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Get value stream",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug0/Services/QueryPropertyHistory",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "00166d442c6f8738"
            ]
        ]
    },
    {
        "id": "00166d442c6f8738",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1020,
        "wires": []
    },
    {
        "id": "eb0e1351ff4cb256",
        "type": "mqtt in",
        "z": "4c20aa2ac87fc1e6",
        "g": "f74c838012730271",
        "name": "",
        "topic": "/jug/godot",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f666e567f16cadaa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1160,
        "wires": [
            [
                "14f845b4086a8052"
            ]
        ]
    },
    {
        "id": "14f845b4086a8052",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "f74c838012730271",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1160,
        "wires": []
    },
    {
        "id": "12d815057cd57334",
        "type": "http request",
        "z": "dd62ac133fb1360c",
        "name": "Get Total litres",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Properties/totalLitresJug",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "cdb712ef947b9f93"
            ]
        ]
    },
    {
        "id": "bca0d49876942d04",
        "type": "inject",
        "z": "dd62ac133fb1360c",
        "name": "Start dashboard",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "686e392549632634",
                "fffcf2415ff35daf",
                "96122b6e803914d0"
            ]
        ]
    },
    {
        "id": "686e392549632634",
        "type": "postgresql",
        "z": "dd62ac133fb1360c",
        "name": "Get Jug ids from DB",
        "query": "SELECT id FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "43eb9f6208742902"
            ]
        ]
    },
    {
        "id": "0f36aa3917d94588",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "name": "Set thing_id",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "62c0ce56e6d2d453"
            ]
        ]
    },
    {
        "id": "e2b41d91cb228409",
        "type": "join",
        "z": "dd62ac133fb1360c",
        "name": "Merge all jugs values",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "thing_id",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": true,
        "reduceExp": "msg.payload\t",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 880,
        "y": 260,
        "wires": [
            [
                "4eb1c96a4b440d38",
                "cd95edaaaf747c92"
            ]
        ]
    },
    {
        "id": "43eb9f6208742902",
        "type": "split",
        "z": "dd62ac133fb1360c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "0f36aa3917d94588"
            ]
        ]
    },
    {
        "id": "cdb712ef947b9f93",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "name": "Set totalLitresJug",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rows[0].totalLitresJug",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "e2b41d91cb228409"
            ]
        ]
    },
    {
        "id": "cd95edaaaf747c92",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "name": "Compute sum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sum(msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "b1bfa462b34b5621"
            ]
        ]
    },
    {
        "id": "a3cf40fceacb65df",
        "type": "ui_gauge",
        "z": "dd62ac133fb1360c",
        "name": "",
        "group": "d1a0b3959db61542",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Total litres of all jugs",
        "label": "liters",
        "format": "{{msg.payload  | number: 2}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 720,
        "wires": []
    },
    {
        "id": "fffcf2415ff35daf",
        "type": "postgresql",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "name": "Get Jug ids from DB",
        "query": "SELECT COUNT(id) FROM JugTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 440,
        "y": 940,
        "wires": [
            [
                "6426c3f9917d2081"
            ]
        ]
    },
    {
        "id": "e12e139248b70364",
        "type": "ui_text",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "group": "2dab9229986fd1ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Num of jugs registered",
        "label": "Number of jugs registered:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 980,
        "y": 940,
        "wires": []
    },
    {
        "id": "6426c3f9917d2081",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 940,
        "wires": [
            [
                "e12e139248b70364"
            ]
        ]
    },
    {
        "id": "6cc1040bfd802f1e",
        "type": "ui_text",
        "z": "dd62ac133fb1360c",
        "group": "a6a64a541ae8c000",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Kg of plastic saved",
        "label": "Kg of plastic saved",
        "format": "{{msg.payload | number: 4}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 1050,
        "y": 820,
        "wires": []
    },
    {
        "id": "bf3e55578af7a2e4",
        "type": "calculator",
        "z": "dd62ac133fb1360c",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "500000",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 750,
        "y": 800,
        "wires": [
            [
                "6cc1040bfd802f1e",
                "fa768fe8dd244a44"
            ]
        ]
    },
    {
        "id": "3ef85ed4716564ae",
        "type": "calculator",
        "z": "dd62ac133fb1360c",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "mult",
        "constant": "32",
        "round": false,
        "truncate": false,
        "decimals": 0,
        "decimals2": 0,
        "x": 600,
        "y": 800,
        "wires": [
            [
                "bf3e55578af7a2e4"
            ]
        ]
    },
    {
        "id": "fa768fe8dd244a44",
        "type": "ui_chart",
        "z": "dd62ac133fb1360c",
        "name": "",
        "group": "a6a64a541ae8c000",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Amount of plastic saved in one day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "96122b6e803914d0",
        "type": "postgresql",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "name": "Get User ids from DB",
        "query": "SELECT COUNT(userId) FROM UserTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "c38392d9d315dc5d"
            ]
        ]
    },
    {
        "id": "c38392d9d315dc5d",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1000,
        "wires": [
            [
                "5415beb9fff2b624"
            ]
        ]
    },
    {
        "id": "5415beb9fff2b624",
        "type": "ui_text",
        "z": "dd62ac133fb1360c",
        "g": "261acb4b06f35df7",
        "group": "2dab9229986fd1ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Num of users registered",
        "label": "Number of users registered:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 990,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4eb1c96a4b440d38",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "name": "Compute avg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$average(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "72d7683f247d4f7a"
            ]
        ]
    },
    {
        "id": "72d7683f247d4f7a",
        "type": "ui_gauge",
        "z": "dd62ac133fb1360c",
        "name": "",
        "group": "d1a0b3959db61542",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Avg litres of all jugs",
        "label": "liters",
        "format": "{{msg.payload  | number: 2}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "56a581e5680ad6e3",
        "type": "debug",
        "z": "dd62ac133fb1360c",
        "name": "Litres in total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "b1bfa462b34b5621",
        "type": "link out",
        "z": "dd62ac133fb1360c",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "72b8d5bea41ced2f"
        ],
        "x": 1205,
        "y": 280,
        "wires": []
    },
    {
        "id": "72b8d5bea41ced2f",
        "type": "link in",
        "z": "dd62ac133fb1360c",
        "name": "link in 5",
        "links": [
            "b1bfa462b34b5621"
        ],
        "x": 405,
        "y": 740,
        "wires": [
            [
                "3ef85ed4716564ae",
                "56a581e5680ad6e3",
                "a3cf40fceacb65df"
            ]
        ]
    },
    {
        "id": "2ad5bd5afacb1fd8",
        "type": "function",
        "z": "dd62ac133fb1360c",
        "name": "Compute total current jugs active",
        "func": "if (msg.payload == undefined || msg.payload.length == 0){\n    msg.payload = 0;\n    return msg;\n}\n\nlet sum = 0;\nmsg.payload.forEach(function(element) {\n    if (element != 0.0)\n        sum += 1\n});\nmsg.payload = sum;\nsum = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 400,
        "wires": [
            [
                "fcc269dc861c255c"
            ]
        ]
    },
    {
        "id": "7a088ebc13b22c17",
        "type": "link in",
        "z": "dd62ac133fb1360c",
        "name": "link in 6",
        "links": [
            "62c0ce56e6d2d453"
        ],
        "x": 345,
        "y": 340,
        "wires": [
            [
                "12d815057cd57334",
                "c82c75d3b593411b",
                "c2d21a8e765e0a8d",
                "f00e83fd74bdad42"
            ]
        ]
    },
    {
        "id": "62c0ce56e6d2d453",
        "type": "link out",
        "z": "dd62ac133fb1360c",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "7a088ebc13b22c17"
        ],
        "x": 925,
        "y": 120,
        "wires": []
    },
    {
        "id": "c82c75d3b593411b",
        "type": "http request",
        "z": "dd62ac133fb1360c",
        "name": "Get Litres Per Second",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Properties/litresPerSecond",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "04502fd62b09576f"
            ]
        ]
    },
    {
        "id": "0c96d057bbeba1ac",
        "type": "join",
        "z": "dd62ac133fb1360c",
        "name": "Merge all jugs values",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "thing_id",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": true,
        "reduceExp": "msg.payload\t",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 940,
        "y": 400,
        "wires": [
            [
                "2ad5bd5afacb1fd8"
            ]
        ]
    },
    {
        "id": "04502fd62b09576f",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "name": "Set litresPerSecond",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rows[0].litresPerSecond",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "0c96d057bbeba1ac"
            ]
        ]
    },
    {
        "id": "fcc269dc861c255c",
        "type": "ui_text",
        "z": "dd62ac133fb1360c",
        "group": "2dab9229986fd1ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Num of jugs active",
        "label": "Number of jugs active:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 1250,
        "y": 460,
        "wires": []
    },
    {
        "id": "fb708c2fcfc9c453",
        "type": "function",
        "z": "dd62ac133fb1360c",
        "name": "Compute total alert for low filter (20%)",
        "func": "let sum = 0;\nif (msg.filterUsage >= msg.filterCapacity)\n    sum += 1;\nmsg.payload = sum;\nsum = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "17ca1b2582d81a62"
            ]
        ]
    },
    {
        "id": "c2d21a8e765e0a8d",
        "type": "http request",
        "z": "dd62ac133fb1360c",
        "name": "Get Filter Capacity",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Properties/filterCapacity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "f9bff4e17ea17d24"
            ]
        ]
    },
    {
        "id": "f9bff4e17ea17d24",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "name": "Set filterCapacity",
        "rules": [
            {
                "t": "set",
                "p": "filterCapacity",
                "pt": "msg",
                "to": "payload.rows[0].filterCapacity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "thing_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "61c86c61f6a67dc1",
                "6aa11d1569ef2785"
            ]
        ]
    },
    {
        "id": "f00e83fd74bdad42",
        "type": "http request",
        "z": "dd62ac133fb1360c",
        "name": "Get Filter Usage",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Things/Jug{{thing_id}}/Properties/totalLitresFilter",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "6dde29be83f4a808"
            ]
        ]
    },
    {
        "id": "6dde29be83f4a808",
        "type": "change",
        "z": "dd62ac133fb1360c",
        "name": "Set filter usage",
        "rules": [
            {
                "t": "set",
                "p": "filterUsage",
                "pt": "msg",
                "to": "payload.rows[0].totalLitresFilter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "thing_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "61c86c61f6a67dc1",
                "a7aa806e2fb8ef96"
            ]
        ]
    },
    {
        "id": "6aa11d1569ef2785",
        "type": "debug",
        "z": "dd62ac133fb1360c",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filterCapacity",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "a7aa806e2fb8ef96",
        "type": "debug",
        "z": "dd62ac133fb1360c",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filterUsage",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 640,
        "wires": []
    },
    {
        "id": "61c86c61f6a67dc1",
        "type": "delay",
        "z": "dd62ac133fb1360c",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 970,
        "y": 460,
        "wires": [
            [
                "fb708c2fcfc9c453"
            ]
        ]
    },
    {
        "id": "17ca1b2582d81a62",
        "type": "ui_gauge",
        "z": "dd62ac133fb1360c",
        "name": "",
        "group": "12c2e9b2a697267d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Num of alerts currently triggered",
        "label": "liters",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 580,
        "wires": []
    }
]