nodered/flows.json
[
    {
        "id": "217d4457bda21c0d",
        "type": "tab",
        "label": "Postgres",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c20aa2ac87fc1e6",
        "type": "tab",
        "label": "JugClients",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd62ac133fb1360c",
        "type": "tab",
        "label": "JugEnterprise",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f812365318f4aea",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Client Application",
        "style": {
            "label": true
        },
        "nodes": [
            "f26cc9e6ff46d635",
            "b6601b20bee7cc98",
            "f8c1aade031fe803",
            "16a011c4b7e2fc9f",
            "06d3ba75d9facdef",
            "76ef18b8c3aade51"
        ],
        "x": 154,
        "y": 399,
        "w": 632,
        "h": 262
    },
    {
        "id": "323958da1d4e2b7b",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Client Jugs",
        "style": {
            "label": true
        },
        "nodes": [
            "14a3846a85810dfa",
            "27e373792b79bb87",
            "8a150a90525f1e19",
            "b599ee280cb26889",
            "761f1c76987d467d",
            "1a3567de62c2120d",
            "a385fed9aa8a7fe3",
            "e3923ac5b4ee2839",
            "4708d0a4450dd8e9",
            "3472f2444d2a7046",
            "552a23f5ed7b1610",
            "669db4e658511a7f",
            "4734de29655a0c1a"
        ],
        "x": 154,
        "y": 99,
        "w": 1132,
        "h": 242
    },
    {
        "id": "a70a5b1a39c32320",
        "type": "group",
        "z": "4c20aa2ac87fc1e6",
        "name": "Create/Delete Thing Thingworx",
        "style": {
            "label": true
        },
        "nodes": [
            "df69d4b1370ec407",
            "b9b2e90c86433bf3",
            "8745783c2d4b7dfb",
            "abf1b4b172e6ae86",
            "120dae098c73873b",
            "6bf593c124f692f4",
            "1e33342913f1a641",
            "e007aae71a2fd34c"
        ],
        "x": 154,
        "y": 719,
        "w": 832,
        "h": 142
    },
    {
        "id": "dec02f83255e8269",
        "type": "group",
        "z": "dd62ac133fb1360c",
        "name": "Token handler",
        "style": {
            "label": true
        },
        "nodes": [
            "7c08cf946e57e464",
            "80cdd81f6d5a5a21"
        ],
        "x": 114,
        "y": 19,
        "w": 332,
        "h": 82
    },
    {
        "id": "55c530ddc18f58e8",
        "type": "group",
        "z": "dd62ac133fb1360c",
        "name": "Aggregating data",
        "style": {
            "label": true
        },
        "nodes": [
            "b2a3114f40da36d1",
            "258db430c1a2dc71",
            "fc8edbf2fc5789ea",
            "57cb151164b5677c",
            "1f4ad03c7e8b57c2"
        ],
        "x": 114,
        "y": 139,
        "w": 872,
        "h": 222
    },
    {
        "id": "6cce7f7cd691161b",
        "type": "group",
        "z": "dd62ac133fb1360c",
        "name": "Enterprise dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "2a5abae8e17b662f",
            "6026dc6309b3c457",
            "56a581e5680ad6e3",
            "edd3c74cf042e2ad"
        ],
        "x": 114,
        "y": 419,
        "w": 892,
        "h": 142
    },
    {
        "id": "1589093497ae43e3",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "Pair Request",
        "style": {
            "label": true
        },
        "nodes": [
            "f5c3aee0864a46be",
            "e57bdf0359866749",
            "61ff41d6f79027dd",
            "378b9baed000b7e6",
            "4401d53accce85c2",
            "17a95012080ff363",
            "7337b18b2043a237"
        ],
        "x": 54,
        "y": 1039,
        "w": 1272,
        "h": 82
    },
    {
        "id": "bdbaa79edcd82992",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "User registration",
        "style": {
            "label": true
        },
        "nodes": [
            "e617a36252101d98",
            "9f2b775c5e24acb8",
            "587d719d685f7298",
            "8e7d846effd9e3d7",
            "10b809801dba4bcb",
            "ce4aa892ac61f3a4",
            "a492c59417e3526d",
            "68a2107c3e0d91ed",
            "43ca287d27944fbd",
            "c2adafc6141062ba",
            "fa53f57ac6c934fc",
            "82cd4ba7de232cdf"
        ],
        "x": 34,
        "y": 19,
        "w": 1372,
        "h": 322
    },
    {
        "id": "cb681741da812fc7",
        "type": "group",
        "z": "217d4457bda21c0d",
        "name": "User login",
        "style": {
            "label": true
        },
        "nodes": [
            "4f6f6fac724a496a",
            "5c3d7fd931d482a9",
            "fb7f4297b358477b",
            "68fcddddc6fb266a",
            "02a9ea9e41023edc",
            "7b80c134f08a63b6",
            "c9342c2ae65773a2",
            "344ec21cbcc27646",
            "d585834b3020d2f1",
            "74a2182d6cf3432b",
            "6737c839da4aeeab",
            "1130f17012c07889"
        ],
        "x": 34,
        "y": 359,
        "w": 1372,
        "h": 322
    },
    {
        "id": "c77abff0c3609a0d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://212.78.1.205",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c1ceec1569757720",
        "type": "ui_tab",
        "name": "Jugs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fcdb4c412482dcd0",
        "type": "ui_group",
        "name": "Total Litres (App)",
        "tab": "c1ceec1569757720",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc5f98c0f184bc2e",
        "type": "ui_group",
        "name": "Litres per second (App)",
        "tab": "c1ceec1569757720",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c527304ede8acd9c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a6a64a541ae8c000",
        "type": "ui_group",
        "name": "Enterprise",
        "tab": "c1ceec1569757720",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "647f7f903ce97865",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "jugdb",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "nodered",
        "userFieldType": "str",
        "password": "passwordsegreta",
        "passwordFieldType": "str"
    },
    {
        "id": "e617a36252101d98",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Registration",
        "url": "/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "8e7d846effd9e3d7"
            ]
        ]
    },
    {
        "id": "9f2b775c5e24acb8",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "query": "INSERT INTO UserTable(email, password) VALUES ($1, $2);",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "82cd4ba7de232cdf"
            ]
        ]
    },
    {
        "id": "587d719d685f7298",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Extract email",
        "func": "msg.params = [msg.payload.username];\nmsg.old = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 120,
        "wires": [
            [
                "43ca287d27944fbd"
            ]
        ]
    },
    {
        "id": "8e7d846effd9e3d7",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "587d719d685f7298"
            ]
        ]
    },
    {
        "id": "10b809801dba4bcb",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1330,
        "y": 280,
        "wires": []
    },
    {
        "id": "ce4aa892ac61f3a4",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "3c434ec046f71a23",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "83c99c7142a96e7f"
            ]
        ]
    },
    {
        "id": "83c99c7142a96e7f",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "name": "Show table",
        "query": "SELECT * FROM UserTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 1240,
        "wires": [
            [
                "e8bc2dd148bbffb3"
            ]
        ]
    },
    {
        "id": "e8bc2dd148bbffb3",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a492c59417e3526d",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "10b809801dba4bcb"
            ]
        ]
    },
    {
        "id": "5898347def636b4d",
        "type": "inject",
        "z": "217d4457bda21c0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "d0c5bf7405388a7c"
            ]
        ]
    },
    {
        "id": "d0c5bf7405388a7c",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "name": "Clean table",
        "query": "DELETE FROM UserTable;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 1300,
        "wires": [
            [
                "c98c52a08de3b558"
            ]
        ]
    },
    {
        "id": "c98c52a08de3b558",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1300,
        "wires": []
    },
    {
        "id": "68a2107c3e0d91ed",
        "type": "switch",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "10b809801dba4bcb"
            ],
            [
                "fa53f57ac6c934fc",
                "c2adafc6141062ba"
            ]
        ]
    },
    {
        "id": "43ca287d27944fbd",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "",
        "query": "SELECT * FROM UserTable WHERE email = $1;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "fa53f57ac6c934fc",
                "68a2107c3e0d91ed"
            ]
        ]
    },
    {
        "id": "c2adafc6141062ba",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Extract user and pass",
        "func": "msg.params = [msg.old.username, msg.old.password];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "9f2b775c5e24acb8"
            ]
        ]
    },
    {
        "id": "fa53f57ac6c934fc",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "82cd4ba7de232cdf",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "bdbaa79edcd82992",
        "name": "Extract user and pass",
        "func": "msg.payload = {status:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 140,
        "wires": [
            [
                "a492c59417e3526d",
                "ce4aa892ac61f3a4"
            ]
        ]
    },
    {
        "id": "5c3d7fd931d482a9",
        "type": "http in",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "68fcddddc6fb266a"
            ]
        ]
    },
    {
        "id": "fb7f4297b358477b",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Extract email and password",
        "func": "msg.params = [msg.payload.username, msg.payload.password];\nmsg.old = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "344ec21cbcc27646"
            ]
        ]
    },
    {
        "id": "68fcddddc6fb266a",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "fb7f4297b358477b"
            ]
        ]
    },
    {
        "id": "4f6f6fac724a496a",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1330,
        "y": 620,
        "wires": []
    },
    {
        "id": "02a9ea9e41023edc",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "7b80c134f08a63b6",
        "type": "json",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1190,
        "y": 480,
        "wires": [
            [
                "4f6f6fac724a496a"
            ]
        ]
    },
    {
        "id": "c9342c2ae65773a2",
        "type": "switch",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "1130f17012c07889"
            ],
            [
                "4f6f6fac724a496a"
            ]
        ]
    },
    {
        "id": "344ec21cbcc27646",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "query": "SELECT userId FROM UserTable WHERE email = $1 AND password = $2;",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "d585834b3020d2f1",
                "c9342c2ae65773a2"
            ]
        ]
    },
    {
        "id": "d585834b3020d2f1",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "74a2182d6cf3432b",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "Extract user and pass",
        "func": "msg.payload = {status:\"OK\", token:msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 480,
        "wires": [
            [
                "7b80c134f08a63b6",
                "02a9ea9e41023edc"
            ]
        ]
    },
    {
        "id": "6737c839da4aeeab",
        "type": "jwt sign",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "",
        "alg": "HS256",
        "exp": "31536000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "secret",
        "key": "",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 540,
        "y": 580,
        "wires": [
            [
                "74a2182d6cf3432b"
            ]
        ]
    },
    {
        "id": "1130f17012c07889",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "cb681741da812fc7",
        "name": "function 1",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "6737c839da4aeeab"
            ]
        ]
    },
    {
        "id": "439179766e1f35cc",
        "type": "http response",
        "z": "217d4457bda21c0d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1330,
        "y": 940,
        "wires": []
    },
    {
        "id": "4240428fdf74c9fa",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 720,
        "wires": []
    },
    {
        "id": "f9a3b44aeadaa5ec",
        "type": "json",
        "z": "217d4457bda21c0d",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1190,
        "y": 800,
        "wires": [
            [
                "439179766e1f35cc"
            ]
        ]
    },
    {
        "id": "3e76d12d9a3f36a9",
        "type": "switch",
        "z": "217d4457bda21c0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 960,
        "wires": [
            [
                "810bf7402e9b1a3f"
            ],
            [
                "439179766e1f35cc"
            ]
        ]
    },
    {
        "id": "17a95012080ff363",
        "type": "postgresql",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "query": "INSERT INTO JugTable VALUES ($1, $2);",
        "postgreSQLConfig": "647f7f903ce97865",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 830,
        "y": 1080,
        "wires": [
            [
                "7337b18b2043a237"
            ]
        ]
    },
    {
        "id": "b2d78a25b648251e",
        "type": "function",
        "z": "217d4457bda21c0d",
        "name": "Extract user and pass",
        "func": "msg.payload = {status:\"OK\", token:msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 800,
        "wires": [
            [
                "f9a3b44aeadaa5ec",
                "4240428fdf74c9fa"
            ]
        ]
    },
    {
        "id": "4410cea2ae651c4e",
        "type": "jwt sign",
        "z": "217d4457bda21c0d",
        "name": "",
        "alg": "HS256",
        "exp": "31536000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "secret",
        "key": "",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 540,
        "y": 900,
        "wires": [
            [
                "b2d78a25b648251e"
            ]
        ]
    },
    {
        "id": "810bf7402e9b1a3f",
        "type": "function",
        "z": "217d4457bda21c0d",
        "name": "function 2",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "4410cea2ae651c4e"
            ]
        ]
    },
    {
        "id": "f5c3aee0864a46be",
        "type": "mqtt in",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "topic": "/jug/pair",
        "qos": "0",
        "datatype": "json",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "61ff41d6f79027dd"
            ]
        ]
    },
    {
        "id": "e57bdf0359866749",
        "type": "debug",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "Token",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 1080,
        "wires": []
    },
    {
        "id": "61ff41d6f79027dd",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "Extract id and token",
        "func": "msg.payload = msg.payload.id;\nmsg.token = msg.payload.token;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "378b9baed000b7e6"
            ]
        ]
    },
    {
        "id": "378b9baed000b7e6",
        "type": "jwt verify",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "",
        "alg": [
            "HS256"
        ],
        "jwkurl": "",
        "secret": "secret",
        "key": "",
        "signvar": "token",
        "storetoken": "token",
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "4401d53accce85c2"
            ]
        ]
    },
    {
        "id": "4401d53accce85c2",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "function 3",
        "func": "msg.params = [msg.payload, msg.token.userid]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "17a95012080ff363"
            ]
        ]
    },
    {
        "id": "7337b18b2043a237",
        "type": "function",
        "z": "217d4457bda21c0d",
        "g": "1589093497ae43e3",
        "name": "Extract user and pass",
        "func": "msg.payload = {status:\"OK\", token:msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1080,
        "wires": [
            [
                "e57bdf0359866749"
            ]
        ]
    },
    {
        "id": "f26cc9e6ff46d635",
        "type": "mqtt in",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "",
        "topic": "/Thingworx/Jug1/litresPerSecond",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "b6601b20bee7cc98",
                "76ef18b8c3aade51"
            ]
        ]
    },
    {
        "id": "b6601b20bee7cc98",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "Litres per second",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "16a011c4b7e2fc9f",
        "type": "mqtt in",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "",
        "topic": "/Thingworx/Jug1/totalLitres",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "06d3ba75d9facdef",
                "f8c1aade031fe803"
            ]
        ]
    },
    {
        "id": "06d3ba75d9facdef",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "Litres in total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "27e373792b79bb87",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug1/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "8a150a90525f1e19",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "b599ee280cb26889"
            ]
        ]
    },
    {
        "id": "b599ee280cb26889",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "27e373792b79bb87"
            ]
        ]
    },
    {
        "id": "761f1c76987d467d",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "Clear values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "27e373792b79bb87",
                "1a3567de62c2120d",
                "4708d0a4450dd8e9",
                "669db4e658511a7f",
                "4734de29655a0c1a",
                "14a3846a85810dfa"
            ]
        ]
    },
    {
        "id": "1a3567de62c2120d",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug2/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "a385fed9aa8a7fe3",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "num",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "e3923ac5b4ee2839"
            ]
        ]
    },
    {
        "id": "e3923ac5b4ee2839",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "1a3567de62c2120d"
            ]
        ]
    },
    {
        "id": "4708d0a4450dd8e9",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug3/litresPerSecond",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "3472f2444d2a7046",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.3",
        "payloadType": "num",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "552a23f5ed7b1610"
            ]
        ]
    },
    {
        "id": "552a23f5ed7b1610",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "randomize",
        "func": "msg.payload = msg.payload + Math.random() * 0.5\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "4708d0a4450dd8e9"
            ]
        ]
    },
    {
        "id": "669db4e658511a7f",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug1/totalLitres",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1140,
        "y": 220,
        "wires": []
    },
    {
        "id": "4734de29655a0c1a",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug2/totalLitres",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "14a3846a85810dfa",
        "type": "mqtt out",
        "z": "4c20aa2ac87fc1e6",
        "g": "323958da1d4e2b7b",
        "name": "",
        "topic": "/Thingworx/Jug3/totalLitres",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 1140,
        "y": 300,
        "wires": []
    },
    {
        "id": "df69d4b1370ec407",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Create Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Resources/EntityServices/Services/CreateThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "1e33342913f1a641"
            ]
        ]
    },
    {
        "id": "b9b2e90c86433bf3",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 760,
        "wires": []
    },
    {
        "id": "8745783c2d4b7dfb",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Inject Jug",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"name\": \"Jug555\",  \"projectName\":\"cattaneo-isola\",    \"thingTemplateName\": \"JugTemplate\" }",
        "payloadType": "json",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "df69d4b1370ec407"
            ]
        ]
    },
    {
        "id": "abf1b4b172e6ae86",
        "type": "http request",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Delete Thing",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://212.78.1.205:8080/Thingworx/Resources/EntityServices/Services/DeleteThing",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 820,
        "wires": [
            [
                "e007aae71a2fd34c"
            ]
        ]
    },
    {
        "id": "120dae098c73873b",
        "type": "debug",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 820,
        "wires": []
    },
    {
        "id": "6bf593c124f692f4",
        "type": "inject",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Inject Jug",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"name\": \"Jug555\",  \"projectName\":\"cattaneo-isola\",    \"thingTemplateName\": \"JugTemplate\" }",
        "payloadType": "json",
        "x": 260,
        "y": 820,
        "wires": [
            [
                "abf1b4b172e6ae86"
            ]
        ]
    },
    {
        "id": "1e33342913f1a641",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Transform output",
        "func": "if (msg.payload == \"\"){\n    msg.payload = \"Thing successfully added.\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 760,
        "wires": [
            [
                "b9b2e90c86433bf3"
            ]
        ]
    },
    {
        "id": "e007aae71a2fd34c",
        "type": "function",
        "z": "4c20aa2ac87fc1e6",
        "g": "a70a5b1a39c32320",
        "name": "Transform output",
        "func": "if (msg.payload == \"\"){\n    msg.payload = \"Thing successfully deleted.\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 820,
        "wires": [
            [
                "120dae098c73873b"
            ]
        ]
    },
    {
        "id": "f8c1aade031fe803",
        "type": "ui_gauge",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "",
        "group": "fcdb4c412482dcd0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Total litres",
        "label": "units",
        "format": "{{msg.count}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "76ef18b8c3aade51",
        "type": "ui_gauge",
        "z": "4c20aa2ac87fc1e6",
        "g": "7f812365318f4aea",
        "name": "",
        "group": "cc5f98c0f184bc2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Litres per second",
        "label": "units",
        "format": "{{msg.count}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "7c08cf946e57e464",
        "type": "mqtt in",
        "z": "dd62ac133fb1360c",
        "g": "dec02f83255e8269",
        "name": "",
        "topic": "/jug/pair",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 60,
        "wires": [
            [
                "80cdd81f6d5a5a21"
            ]
        ]
    },
    {
        "id": "80cdd81f6d5a5a21",
        "type": "debug",
        "z": "dd62ac133fb1360c",
        "g": "dec02f83255e8269",
        "name": "Token",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "2a5abae8e17b662f",
        "type": "ui_gauge",
        "z": "dd62ac133fb1360c",
        "g": "6cce7f7cd691161b",
        "name": "",
        "group": "a6a64a541ae8c000",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Total litres of all jugs",
        "label": "units",
        "format": "{{msg.count}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "6026dc6309b3c457",
        "type": "mqtt in",
        "z": "dd62ac133fb1360c",
        "g": "6cce7f7cd691161b",
        "name": "",
        "topic": "/Thingworx/AggregatedData/totalLitres",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "edd3c74cf042e2ad"
            ]
        ]
    },
    {
        "id": "56a581e5680ad6e3",
        "type": "debug",
        "z": "dd62ac133fb1360c",
        "g": "6cce7f7cd691161b",
        "name": "Litres in total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "258db430c1a2dc71",
        "type": "mqtt in",
        "z": "dd62ac133fb1360c",
        "g": "55c530ddc18f58e8",
        "name": "",
        "topic": "/Thingworx/Jug1/totalLitres",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "fc8edbf2fc5789ea"
            ]
        ]
    },
    {
        "id": "fc8edbf2fc5789ea",
        "type": "mqtt out",
        "z": "dd62ac133fb1360c",
        "g": "55c530ddc18f58e8",
        "name": "",
        "topic": "/Thingworx/AggregatedData/totalLitres",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c77abff0c3609a0d",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "57cb151164b5677c",
        "type": "mqtt in",
        "z": "dd62ac133fb1360c",
        "g": "55c530ddc18f58e8",
        "name": "",
        "topic": "/Thingworx/Jug2/totalLitres",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "fc8edbf2fc5789ea"
            ]
        ]
    },
    {
        "id": "1f4ad03c7e8b57c2",
        "type": "mqtt in",
        "z": "dd62ac133fb1360c",
        "g": "55c530ddc18f58e8",
        "name": "",
        "topic": "/Thingworx/Jug3/totalLitres",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c77abff0c3609a0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "fc8edbf2fc5789ea"
            ]
        ]
    },
    {
        "id": "edd3c74cf042e2ad",
        "type": "function",
        "z": "dd62ac133fb1360c",
        "g": "6cce7f7cd691161b",
        "name": "sum streams",
        "func": "global.set(\"counter\", global.get(\"counter\") + msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"counter\", 0);  // this is now available to other nodes\n",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 460,
        "wires": [
            [
                "56a581e5680ad6e3",
                "2a5abae8e17b662f"
            ]
        ]
    },
    {
        "id": "b2a3114f40da36d1",
        "type": "inject",
        "z": "dd62ac133fb1360c",
        "g": "55c530ddc18f58e8",
        "name": "Clear values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "fc8edbf2fc5789ea"
            ]
        ]
    }
]